<!DOCTYPE html>
<html lang="en" xmlns:layout="http://www.ultraq.net.nz/thymeleaf/layout" xmlns:th="http://www.thymeleaf.org" layout:decorate="~{layout/layout}">
<body>
	<div layout:fragment="content">
		<div class="container-fluid">
			<div class="row">
			<!-- <div class="col-lg-4">
					<h4 class="cards-title" th:text="#{global.expenseReimb.expenseReimb}">Expense Reimbursement</h4>
				</div>	
				<div class=" col-sm-4 text-center">		
				
                        <a th:href="@{/activeExpenseReimbList}">
                            <button class="btn btn-secondary" th:text="#{global.expenseReimb.active}" style="margin-right:8px">Active</button></a>
                        <a th:href="@{/cancelExpenseReimbList}">
                        	<button class="btn btn-secondary active" th:text="#{global.expenseReimb.cancel}">Cancel</button></a>
               </div>
					<div class="col-lg-4">
						<a th:href="@{/expenseReimbHome}" class="btn add-btn pull-right plus" th:text="#{global.expenseReimb.addNew}" >Add New</a>
					</div>		
			
				<div class="col-sm-12">
					<div class="line">
						<hr>
					</div>
				</div> -->
				<div class="col-12">
                            <div class="page-title-box d-sm-flex align-items-center justify-content-between">
                                <h4 class="mb-sm-0" th:text="#{global.expenseReimb.expenseReimb}">Expense Reimbursement</h4>                            
                                 <div class="page-title-right">
                                  <label>Active</label>
                                  <div class="togglebutton">
                                    <a th:href="@{/activeExpenseReimbList}">                       
                                   <button class="btn btn-secondary"></button></a>
                                  <a th:href="@{/cancelExpenseReimbList}">
                        	       <button class="btn btn-secondary active"></button></a>
                        	       </div>
                        	       <label>Cancel</label>                        	                             	       
                                </div>
                                <div class="page-title-right">
                                   <a th:href="@{/expenseReimbHome}" class="btn add-btn plus" th:text="#{global.expenseReimb.addNew}" >Add New</a>
                                </div>
                            </div>
                        </div>
						
				

				<div class="col-sm-12">
					<div class="card">
						<div class="card-body">
							<div class="table-responsive">
								<table id="datatable" class="display" style="width:100%">
									<thead>
										<tr>
											<th th:text="#{global.expenseReimb.employeeName}">EMPLOYEE NAME</th>
											<th th:text="#{global.expenseReimb.date}">DATE</th>
											<th th:text="#{global.expenseReimb.reimbursementType}">REIMBURSEMENT</th>
											<th th:text="#{global.expenseReimb.currency}">CURRENCY</th>
											<th th:text="#{global.expenseReimb.attachment}">ATTACHMENT</th>
											<th th:text="#{global.expenseReimb.expenseAmount}">EXPENSE AMOUNT</th>
											<th th:text="#{global.expenseReimb.reasonsForExpense}">REASON FOR EXPENSE</th>
										</tr>
									</thead>
									<tbody>
										<tr th:each="expenseReimb : ${expenseList}">
											<td th:text="${expenseReimb.employeeName}"></td>
											<td th:text="${expenseReimb.date}"></td>
											<td th:text="${expenseReimb.reimbursementType}"></td>
											<td th:text="${expenseReimb.currency}"></td>
											<td>
											<img th:src="@{${'/attachment?id='+ expenseReimb.id}}" width="50px" height="50px"  alt="">
											</td>
											<td th:text="${expenseReimb.expenseAmount}"></td>
											<td th:text="${expenseReimb.reasonsForExpense}"></td>
										</tr>
									</tbody>
								</table>
							</div>
						</div>
					</div>
				</div>
			</div>
		</div>
</body>
</html>