<!DOCTYPE html>
<html lang="en" xmlns:layout="http://www.ultraq.net.nz/thymeleaf/layout" xmlns:th="http://www.thymeleaf.org" layout:decorate="~{layout/layout}">
<body>
	<div layout:fragment="content">
		<div class="container-fluid">
		<div class="row">
        <div class="col-12">
          <div class="page-title-box d-sm-flex align-items-center justify-content-between">
            <h4 class="mb-sm-0" th:text="#{global.payrollSlip.heading}">Payroll Slip</h4>
          </div>
        </div>
      </div>
			

			<form onsubmit="return payrollSlipValidate()" th:action="@{/payrollSlip}" method="GET" autocomplete="off">
				<div class="row">
					<div class="col-lg-12">
						<div class="card">
							<div class="card-body">
								<div class="row">
									<div class="col-xl-12">
										<div class="form-group row">
											<label class="col-lg-1 col-form-label">Month</label>
											<div class="col-lg-5">
												<select class="form-control" name="month" id="month">
													<option value="">Select</option>
													<option value="01">January</option>
													<option value="02">February</option>
													<option value="03">March</option>
													<option value="04">April</option>
													<option value="05">May</option>
													<option value="06">June</option>
													<option value="07">July</option>
													<option value="08">August</option>
													<option value="09">September</option>
													<option value="10">October</option>
													<option value="11">November</option>
													<option value="12">December</option>
												</select> <span class="red" id="blankMsg"> </span>
											</div>
											<label class="col-lg-1 col-form-label">Year</label>
											<div class="col-lg-5">
												<select class="form-control" id="ddlYears" name="year"></select>
												<span class="red" id="blankMsg1"> </span>
											</div>
										</div>

										<div class="form-group row">
											<div class="col-lg-6">
											<input type="submit" class="btn btn-mshsd pull-right" name="view" value="View"/>
												<!-- <input type="button" class="btn btn-mshsd pull-right" data-toggle="modal" data-target="#modalGrid" id="viewPayrollSlip" name="view" value="View"/> -->
											</div>
											<div class="col-lg-6">
												<input class="btn btn-mshsd" type="submit" name="download" value="Download Payroll Slip" />
											</div>
										</div>
									</div>
								</div>
							</div>
						</div>
					</div>
				</div>
				<div class="row">
					<div class="col-lg-12">
						<div class="modal fade"  id="modalGrid">
							<div class="modal-dialog" role="document">
								<div class="modal-content">
									<div class="modal-header">
										<h5 class="modal-title">Payroll Slip</h5>
										<button type="button" class="close" data-dismiss="modal">
											<span>&times;</span>
										</button>
									</div>
									<div class="modal-body">
										<div class="container-fluid">
											<div class="row">
												<div class="col-xl-12">
													<div class="form-group row">
														<label class="col-lg-2 col-form-label">Employee ID</label>
														<label class="col-lg-1 col-form-label">:</label> 
														<label class="col-lg-3 col-form-label" th:each="emp : ${empPayroll}" th:text="${emp.empBasicDetails.empId}">0</label>

														<label class="col-lg-2 col-form-label">Name</label> 
														<label class="col-lg-1 col-form-label">:</label> 
														<label class="col-lg-3 col-form-label" th:each="emp : ${empPayroll}" th:text="${emp.nameOfEmp}">0</label>
													</div>
												</div>

												<div class="col-xl-12">
													<div class="form-group row">
														<label class="col-lg-2 col-form-label">Department</label>
														<label class="col-lg-1 col-form-label">:</label> 
														<label class="col-lg-3 col-form-label" th:each="emp : ${empPayroll}" th:text="${emp.empBasicDetails.departName}">0</label>
														 
														<label class="col-lg-2 col-form-label">Designation</label> 
														<label class="col-lg-1 col-form-label">:</label> 
														<label class="col-lg-3 col-form-label" th:each="emp : ${empPayroll}" th:text="${emp.designation}">0</label>
													</div>
												</div>

												<div class="col-xl-12">
													<div class="form-group row">
														<label class="col-lg-2 col-form-label">Pay Date</label> 
														<label class="col-lg-1 col-form-label">:</label> 
														<label class="col-lg-3 col-form-label">02/08/2022</label> 
														
														<label class="col-lg-2 col-form-label">Days Working</label> 
														<label class="col-lg-1 col-form-label">:</label> 
														<label class="col-lg-3 col-form-label">25</label>
													</div>
												</div>

												<div class="col-xl-12">
													<div class="form-group row">
														<label class="col-lg-2 col-form-label">PF No.</label> 
														<label class="col-lg-1 col-form-label">:</label> 
														<label class="col-lg-3 col-form-label">123456789013</label> 
														
														<label class="col-lg-2 col-form-label">Bank A/C No.</label> 
														<label class="col-lg-1 col-form-label">:</label> 
														<label class="col-lg-3 col-form-label" th:each="emp : ${empPayroll}" th:text="${emp.empBasicDetails.empSalaryDetails.salaryAccNo}">0</label>
													</div>
												</div>

												<div class="col-xl-12">
													<div class="form-group row">
														<label class="col-lg-2 col-form-label">Pan No.</label> 
														<label class="col-lg-1 col-form-label">:</label> 
														<label class="col-lg-3 col-form-label" th:each="emp : ${empPayroll}" th:text="${emp.empBasicDetails.empPersonalDetails.panNumber}">0</label> 
														
														<label class="col-lg-2 col-form-label">DOB</label> 
														<label class="col-lg-1 col-form-label">:</label> 
														<label class="col-lg-3 col-form-label" th:each="emp : ${empPayroll}" th:text="${emp.empBasicDetails.empPersonalDetails.birthDate}">0</label>
													</div>
												</div>
											</div>

											<div class="col-sm-12 form-group">
												<div class="card">
													<div class="card-body">
														<div class="table-responsive">
															<table class="table table-center text-nowrap table-bordered border-bottom dataTable no-footer">
																<thead>
																	<tr>
																		<th>Earning</th>
																		<th>Amount</th>
																		<th>Deduction</th>
																		<th>Amount</th>
																	</tr>
																</thead>
																<tbody>
																	<tr>
																		<td>Basic Salary</td>
																		<td th:each="emp : ${empPayroll}" th:text="${emp.basicSalary}">0</td>
																		<td>PF</td>
																		<td th:each="emp : ${empPayroll}" th:text="${emp.empProvidentFundOrg}">0</td>
																	</tr>
																	<tr>
																		<td>HRA</td>
																		<td >0 </td>
																		<td>Income Tax</td>
																		<td th:each="emp : ${empPayroll}" th:text="${emp.incomeTax}">0</td>
																	</tr>
																	<tr>
																		<td>Darness Allowance</td>
																		<td th:each="emp : ${empPayroll}" th:text="${emp.dearnessAllowances}">0</td>
																		<td>Leave Deduction</td>
																		<td th:each="emp : ${empPayroll}" th:text="${emp.leavesRate}">0</td>
																	</tr>
																	<tr>
																		<td>Conveyance</td>
																		<td th:each="emp : ${empPayroll}" th:text="${emp.conveyance}">0</td>
																		<td></td>
																		<td></td>
																	</tr>
																	<tr>
																		<td>Medical Benefit</td>
																		<td th:each="emp : ${empPayroll}" th:text="${emp.medicalBenefit}">0</td>
																		<td></td>
																		<td></td>
																	</tr>
																	<tr>
																		<td>Overtime Rate</td>
																		<td th:each="emp : ${empPayroll}" th:text="${emp.overTimeRate}">0</td>
																		<td></td>
																		<td></td>
																	</tr>
																	<tr>
																		<td>Variable Pay</td>
																		<td th:each="emp : ${empPayroll}" th:text="${emp.variablePay}">0</td>
																		<td></td>
																		<td></td>
																	</tr>
																	<tr>
																		<td>Extra Allowance</td>
																		<td >0</td>
																		<td></td>
																		<td></td>
																	</tr>
																</tbody>

																<thead>
																	<tr>
																		<th>Total Earning</th>
																		<th th:each="emp : ${empPayroll}" th:text="${emp.grossSalary}">0</th>
																		<th>Total Deduction</th>
																		<th>0</th>
																	</tr>
																</thead>
															</table>
														</div>
													</div>
												</div>
											</div>

											<div class="row">
												<div class="col-xl-12">
													<div class="form-group row">
														<label class="col-lg-3 col-form-label">NET PAY </label> 
														<label class="col-lg-1 col-form-label"> : </label> 
														<label class="col-lg-8 col-form-label" th:each="emp : ${empPayroll}" th:text="${emp.netSalary}">0</label> 
														
														<label class="col-lg-3 col-form-label">Amount in Words </label>
														<label class="col-lg-1 col-form-label"> : </label> 
														<label class="col-lg-8 col-form-label">Ten Thousand Five Hundred</label>
													</div>
												</div>
											</div>
										</div>
									</div>
								</div>
							</div>
						</div>
					</div>
				</div>
			</form>
			</div>
		</div>
	</div>
</body>
</html>