<!DOCTYPE html>
<html lang="en" xmlns:layout="http://www.ultraq.net.nz/thymeleaf/layout" xmlns:th="http://www.thymeleaf.org" layout:decorate="~{layout/layout}">
<body>
	<div layout:fragment="content">
		<div class="container-fluid">
			<div class="row">
        <div class="col-12">
          <div class="page-title-box d-sm-flex align-items-center justify-content-between">
            <h4 class="mb-sm-0" th:text="#{global.payrollSlip.heading}">Payroll Slip</h4>
          </div>
        </div>
      </div>

			<form onsubmit="return payrollSlipValidate()" th:action="@{/payrollSlip}" method="GET" autocomplete="off">
				<div class="row">
					<div class="col-lg-12">
						<div class="card">
							<div class="card-body">
								<div class="row">
									<div class="col-xl-12">
										<div class="form-group row">
											<label class="col-lg-1 col-form-label" th:text="#{global.payrollSlip.month}">Month</label>
											<div class="col-lg-5">
												<select class="form-control" name="month" id="month">
													<option value="" th:text="#{global.payrollSlip.select}">Select</option>
													<option value="01" th:text="#{global.payrollSlip.january}">January</option>
													<option value="02" th:text="#{global.payrollSlip.february}">February</option>
													<option value="03" th:text="#{global.payrollSlip.march}">March</option>
													<option value="04" th:text="#{global.payrollSlip.april}">April</option>
													<option value="05" th:text="#{global.payrollSlip.may}">May</option>
													<option value="06" th:text="#{global.payrollSlip.june}">June</option>
													<option value="07" th:text="#{global.payrollSlip.july}">July</option>
													<option value="08" th:text="#{global.payrollSlip.august}">August</option>
													<option value="09" th:text="#{global.payrollSlip.september}">September</option>
													<option value="10" th:text="#{global.payrollSlip.october}">October</option>
													<option value="11" th:text="#{global.payrollSlip.november}">November</option>
													<option value="12" th:text="#{global.payrollSlip.december}">December</option>
												</select> <span class="red" id="blankMsg"> </span>
											</div>
											<label class="col-lg-1 col-form-label" th:text="#{global.payrollSlip.year}">Year</label>
											<div class="col-lg-5">
												<select class="form-control" id="ddlYears" name="year"></select>
												<span class="red" id="blankMsg1"> </span>
											</div>
										</div>

										<div class="form-group row">
											<div class="col-lg-6">
										  <!-- <input type="submit" class="btn btn-mshsd pull-right" name="view" id="view" value="View"/>  -->
										  <div th:each="emp : ${empPayroll}">
										  <div th:data-empId-Id = ${emp.empBasicDetails.empId} th:data-emp-name = ${emp.nameOfEmp}></div>
										  </div>
												 <input type="button" class="btn btn-mshsd pull-right" data-toggle="modal" data-target="#modalGrid" id="view" name="view" value="View"/>
											</div>
											<div class="col-lg-6">
												<input class="btn btn-mshsd" type="submit" name="download" value="Download Payroll Slip" />
											</div>
										</div>
									</div>
								</div>
							</div>
						</div>
					</div>
				</div>
				
				
				 <div class="row">
					<div class="col-lg-12">
						<div class="modal fade"  id="modalGrid">
							<div class="modal-dialog" role="document">
								<div class="modal-content">
									<div class="modal-header">
										<h5 class="modal-title" th:text="#{global.payrollSlip.heading}">Payroll Slip</h5>
										<button type="button" class="close" data-dismiss="modal">
											<span>&times;</span>
										</button>
									</div>
									<div class="modal-body">
										<div id="modal_body_content">
																
											<div class="container-fluid">
											
											<div class="row">
												<div class="col-xl-12">
													<div class="form-group row">
														<label class="col-lg-2 col-form-label" th:text="#{global.payrollSlip.empId}">Employee ID</label>
														<label class="col-lg-1 col-form-label">:</label> 
														<span id="employeeId"></span>
														
														<label class="col-lg-2 col-form-label" th:text="#{global.payrollSlip.name}">Name</label> 
														<label class="col-lg-1 col-form-label">:</label>
														<span id="name"></span> 												
													</div>
												</div>																			
											</div>

											<div class="col-sm-12 form-group">
												<div class="card">
													<div class="card-body">
														<div class="table-responsive">
															<table class="table table-center text-nowrap table-bordered border-bottom dataTable no-footer">
																<thead>
																	<tr>
																		<th th:text="#{global.payrollSlip.earning}">Earning</th>
																		<th th:text="#{global.payrollSlip.amount}">Amount</th>
																		<th th:text="#{global.payrollSlip.deduction}">Deduction</th>
																		<th th:text="#{global.payrollSlip.amount}">Amount</th>
																	</tr>
																</thead>
																<tbody>
																	<tr>
																		<td th:text="#{global.payrollSlip.basicSalary}">Basic Salary</td> 
																		<td th:each="emp : ${empPayroll}" th:text="${emp.basicSalary}">0</td>
																		<td th:text="#{global.payrollSlip.pf}">PF</td>
																		<td th:each="emp : ${empPayroll}" th:text="${emp.empProvidentFundOrg}">0</td>
																	</tr>
																	<tr>
																		<td th:text="#{global.payrollSlip.hra}">HRA</td>
																		<td >0 </td>
																		<td th:text="#{global.payrollSlip.incomeTax}">Income Tax</td>
																		<td th:each="emp : ${empPayroll}" th:text="${emp.incomeTax}">0</td>
																	</tr>
																	<tr>
																		<td th:text="#{global.payrollSlip.da}">Darness Allowance</td>
																		<td th:each="emp : ${empPayroll}" th:text="${emp.dearnessAllowances}">0</td>
																		<td th:text="#{global.payrollSlip.leaveDeduction}">Leave Deduction</td>
																		<td th:each="emp : ${empPayroll}" th:text="${emp.leavesRate}">0</td>
																	</tr>
																	<tr>
																		<td th:text="#{global.payrollSlip.conveyance}">Conveyance</td>
																		<td th:each="emp : ${empPayroll}" th:text="${emp.conveyance}">0</td>
																		<td></td>
																		<td></td>
																	</tr>
																	<tr>
																		<td th:text="#{global.payrollSlip.medicalBenefit}">Medical Benefit</td>
																		<td th:each="emp : ${empPayroll}" th:text="${emp.medicalBenefit}">0</td>
																		<td></td>
																		<td></td>
																	</tr>
																	<tr>
																		<td th:text="#{global.payrollSlip.overtimeRate}">Overtime Rate</td>
																		<td th:each="emp : ${empPayroll}" th:text="${emp.overTimeRate}">0</td>
																		<td></td>
																		<td></td>
																	</tr>
																	<tr>
																		<td th:text="#{global.payrollSlip.variablePay}">Variable Pay</td>
																		<td th:each="emp : ${empPayroll}" th:text="${emp.variablePay}">0</td>
																		<td></td>
																		<td></td>
																	</tr>
																	<tr>
																		<td th:text="#{global.payrollSlip.extraAllowance}">Extra Allowance</td>
																		<td >0</td>
																		<td></td>
																		<td></td>
																	</tr>
																</tbody>

																<thead>
																	<tr>
																		<th th:text="#{global.payrollSlip.totalEarning}">Total Earning</th>
																		<th th:each="emp : ${empPayroll}" th:text="${emp.grossSalary}">0</th>
																		<th th:text="#{global.payrollSlip.totalDeduction}">Total Deduction</th>
																		<th>0</th>
																	</tr>
																</thead>
															</table>
														</div>
													</div>
												</div>
											</div>

											<div class="row">
												<div class="col-xl-12">
													<div class="form-group row">
														<label class="col-lg-3 col-form-label" th:text="#{global.payrollSlip.netPay}">NET PAY </label> 
														<label class="col-lg-1 col-form-label"> : </label> 
														<label class="col-lg-8 col-form-label" th:each="emp : ${empPayroll}" th:text="${emp.netSalary}">0</label> 
														
														<label class="col-lg-3 col-form-label" th:text="#{global.payrollSlip.amountInWord}">Amount in Words </label>
														<label class="col-lg-1 col-form-label"> : </label> 
														<label class="col-lg-8 col-form-label">Ten Thousand Five Hundred</label>
													</div>
												</div>
											</div>
											
										</div>
										
									</div>
									</div>
								</div>
							</div>
						</div>
					</div>
				</div>  
				</form>
		</div>
	</div>
</body>
</html>