<!DOCTYPE html>
<html lang="en" xmlns:layout="http://www.ultraq.net.nz/thymeleaf/layout" xmlns:th="http://www.thymeleaf.org" layout:decorate="~{layout/layout}">
<body>
	<div layout:fragment="content">
		<div class="container-fluid">
			<!-- 
			<div class="col-lg-4">
					<h4 class="cards-title" th:text="#{global.task.task}">Pending Task for Approval/Reject</h4>
				
					<div class="col-lg-4">
					</div>					
			</div>
			<div class=" col-sm-8 text-center">		
			
                        <a th:href="@{/weeklyDataList}">
                            <button class="btn btn-secondary active" th:text="#{global.task.taskAssign}" style="margin-right:8px">Task Assign</button></a>
                        <a th:href="@{/completeTaskList}">
                        	<button class="btn btn-secondary" th:text="#{global.task.completed}">Completed</button></a>
               </div>
				<div class="col-sm-12">
					<div class="line">
						<hr>
					</div>
				</div> -->
				<div class="row">
				<div class="col-12">
					<div class="page-title-box d-sm-flex align-items-center justify-content-between">
						<h4 class="mb-sm-0" th:text="#{global.task.task}">Pending Task for Approval/Reject</h4>
						<div class="page-title-right">
							<label>Task Assign</label>
							<div class="togglebutton">
								  <a th:href="@{/weeklyDataList}">
									<button class="btn btn-secondary active"></button></a>
								   <a th:href="@{/completeTaskList}">
									<button class="btn btn-secondary"></button></a>
							</div>
							<label>Completed</label>							
						</div>				
						<div class="page-title-right">
                                  <a th:href="@{/task}" class="btn add-btn plus" th:text="#{global.task.addNew}">Add New</a>
                                </div>		
					</div>
				</div>
						
				
               
               
				<div class="col-sm-12 form-group">
					<div class="card">
						
							<div class="table-responsive">
								<table id="datatable" class="display" style="width:100%">
									<thead>
										<tr>
											<th th:text="#{global.task.empId}">Employee ID</th>
											<th th:text="#{global.task.projects}">Projects</th>
											<th th:text="#{global.task.date}">Date</th>
											<th th:text="#{global.task.hours}">Hours</th>
											<th th:text="#{global.task.description}">Description</th>
											<th th:text="#{global.task.status}">Status</th>
											<th th:text="#{global.task.action}">Action</th>
										</tr>
									</thead>
									<tbody>
										<tr th:each="task : ${taskList}">
											<td th:text="${task.empId}"></td>
											<td th:text="${task.projects}"></td>
											<td th:text="${task.date}"></td>
											<td th:text="${task.hours}"></td>
											<td th:text="${task.description}"></td>
											<td><span class="badge badge-success" th:text="${task.status}"></span></td>
				                           	<td>
				                             <a th:href="@{'/completeTask/' + ${task.id}}" class="btn update" th:text="#{global.task.completeTask}" th:if="${task.flag} != 'Y'">Complete Task </a>
											</td>
										</tr>
									</tbody>
								</table>
							</div>
						</div>
					</div>
				</div>
			</div>
		</div>
</body>
</html>