<!DOCTYPE html>
<html lang="en" xmlns:layout="http://www.ultraq.net.nz/thymeleaf/layout" xmlns:th="http://www.thymeleaf.org" layout:decorate="~{layout/layout}">
<body>
	<div layout:fragment="content">               
        <div class="container-fluid">
			<div class="row">
			<!-- <div class="col-lg-4">
					<h4 class="cards-title" th:text="#{global.docMgmt.title}">Document Management</h4>
					</div>
					<div class=" col-sm-4 text-center">		
				
                        <a th:href="@{/activeDocList}">
                            <button class="btn btn-secondary" th:text="#{global.docMgmt.active}" style="margin-right:8px">Active</button></a>
                        <a th:href="@{/inActiveDocList}">
                        	 <button class="btn btn-secondary active" th:text="#{global.docMgmt.inactive}">Inactive</button></a>
                    </div>
					<div class="col-lg-4">
						<a th:href="@{/getUploadDoc}" class="btn add-btn pull-right plus" th:text="#{global.docMgmt.addNew}">Add New</a>
					</div>		
			
			
				<div class="col-sm-12">
					<div class="line">
						<hr>
					</div>
			     </div> -->
			     
			     <div class="col-12">
                            <div class="page-title-box d-sm-flex align-items-center justify-content-between">
                                <h4 class="mb-sm-0" th:text="#{global.docMgmt.title}">Document Management</h4>                    
                                 <div class="page-title-right">
                                  <label>Active</label>
                                  <div class="togglebutton">
                                   <a th:href="@{/activeDocList}">                      
                                   <button class="btn btn-secondary"></button></a>
                                  <a th:href="@{/inActiveDocList}">
                        	       <button class="btn btn-secondary active"></button></a>
                        	       </div>
                        	       <label>Inactive</label>                        	                             	       
                                </div>
                                <div class="page-title-right">
                                  <a th:href="@{/getUploadDoc}" class="btn add-btn plus" th:text="#{global.docMgmt.addNew}">Add New</a>
                                </div>
                            </div>
                        </div>
				
				
                       
				<div class="col-sm-12 form-group">
						<div class="card">
							<div class="table-responsive">
								<table id="datatable" class="display"  style="width:100%">
									<thead>
										<tr>
											<th th:text="#{global.docMgmt.templateName}">Template Name</th>
											<th th:text="#{global.docMgmt.templateDept}">Template Department</th>
											<th th:text="#{global.docMgmt.download}">Download</th>
											<th th:text="#{global.docMgmt.action}">Action</th>
										</tr>
									</thead>
									<tbody>
										<tr th:each="doc : ${docList}">
											<td th:text="${doc.templateName}"></td>
											<td th:text="${doc.fileDepartment}"></td>
											<td><a th:href="@{'/downloadfile?id=' + ${doc.id}}"><i class="fa-solid fa-download"></i></a></td>
											<td>
											<a th:href="@{'/activeDoc/' +${doc.id}}" class="btn update"> <em class="fa-solid fa-check"></em> </a>  
											</td>
										</tr>
									</tbody>
								</table>
							</div>
						</div>
					</div>
				</div>
				</div>
			</div>
</body>
</html>