<!DOCTYPE html>
<html lang="en" xmlns:layout="http://www.ultraq.net.nz/thymeleaf/layout"
	xmlns:th="http://www.thymeleaf.org" layout:decorate="~{layout/layout}">
<body>
	<div layout:fragment="content">
		<div class="container-fluid">
			<!-- <div class="row">
			<div class="col-lg-4">
					<h4 class="cards-title" th:text="#{global.newReqList.newReq}">New Request</h4>
					</div>
					<div class=" col-sm-4 text-center">		
				
                        <a th:href="@{/newReqList}">
                            <button class="btn btn-secondary active" th:text="#{global.newReqList.applied}" style="margin-right:8px">Applied</button></a>
                        <a th:href="@{/cancelReqList}">
                        	<button class="btn btn-secondary" th:text="#{global.newReqList.cancel}">Cancel</button></a>
                   </div>
					<div class="col-lg-4">
						<a th:href="@{/getAddRequest}" class="btn add-btn pull-right plus" th:text="#{global.newReqList.addNew}">Add New</a>
					</div>
					
			
			
			<div class="col-sm-12">
					<div class="line">
						<hr>
					</div>
			</div>
			 -->
			<div class="col-12">
                            <div class="page-title-box d-sm-flex align-items-center justify-content-between">
                                <h4 class="mb-sm-0" th:text="#{global.newReqList.newReq}">New Request</h4>	                    
                                 <div class="page-title-right">
                                  <label>Applied</label>
                                  <div class="togglebutton">
                                   <a th:href="@{/newReqList}">                          
                                   <button class="btn btn-secondary active"></button></a>
                                    <a th:href="@{/cancelReqList}">
                        	       <button class="btn btn-secondary"></button></a>
                        	       </div>
                        	       <label>Cancel</label>                        	                             	       
                                </div>
                                <div class="page-title-right">
                                 <a th:href="@{/getAddRequest}" class="btn add-btn plus" th:text="#{global.newReqList.addNew}">Add New</a>
                                </div>
                            </div>
                        </div>

				<div class="col-sm-12 form-group">
					<div class="card">
						
							<div class="table-responsive">
								<table id="datatable" class="display"  style="width:100%">
									<thead>
									<tr>
										<th th:text="#{global.newReqList.attendanceDay}">Attendance Day</th>								
										<th th:text="#{global.newReqList.checkIn}">Check-In</th>										
										<th th:text="#{global.newReqList.checkOut}">Check-Out</th>
										<th th:text="#{global.newReqList.totalHours}">Total Hours</th>
										<th th:text="#{global.newReqList.reason}">Reason</th>
										<th th:text="#{global.newReqList.description}">Description</th>
										<th th:text="#{global.newReqList.status}">Status</th>
										<th th:text="#{global.newReqList.action}">Action</th>
									</tr>
								</thead>
									<tbody>
										<tr th:each="add : ${addReq}">
											<td th:text="${add.date}"></td>	
											<td th:text="${add.checkinDateTime}"></td>
											<td th:text="${add.checkoutDateTime}"></td>
											<td th:text="${add.timeDuration}"></td>
											<td th:text="${add.reason}"></td>
											<td th:text="${add.description}"></td>										
											<td><span class="badge badge-success" th:text="${add.approvalReq}"></span></td>
											<td> 
				                            <a th:href="@{'/cancelAddReq/' + ${add.id}}" class="btn update"><em class="fa-solid fa-xmark"></em> </a>
											</td>
										</tr>
									</tbody>
								</table>
							</div>
						</div>
					</div>
				</div>
			</div>
		</div>
</body>
</html>