<!DOCTYPE html>
<html lang="en" xmlns:layout="http://www.ultraq.net.nz/thymeleaf/layout"
	xmlns:th="http://www.thymeleaf.org" layout:decorate="~{layout/layout}">
<body>
	<div layout:fragment="content">
		<div class="container-fluid">
			<div class="row">
			
        <div class="col-12">
          <div class="page-title-box d-sm-flex align-items-center justify-content-between">
            <h4 class="mb-sm-0" th:text="#{global.empMonthLeave.title}">Month Approved List</h4>
          </div>
        </div>
     
			<!-- <div class="col-lg-8">
					<h4 class="cards-title" th:text="#{global.empMonthLeave.title}">Month Approved List</h4>
					</div>
					<div class="col-lg-4">
					</div>		
			
			
			<div class="col-sm-12">
					<div class="line">
						<hr>
					</div>
			</div>
 -->
				<div class="col-sm-12 form-group">
					<div class="card">
						
							<div class="table-responsive">
								<table id="datatable" class="display"  style="width:100%">
									<thead>
									<tr>
										<th th:text=#{global.empMonthLeave.leaveType}>Leave Type</th>
										<th th:text=#{global.empMonthLeave.fromDate}>From Date</th>
										<th th:text=#{global.empMonthLeave.toDate}>To Date</th>
										<th th:text=#{global.empMonthLeave.days}>No of Days</th>
										<th th:text=#{global.empMonthLeave.leaveDetail}>Leave Details</th>
									</tr>
								</thead>
									<tbody>
										<tr th:each="empMonthLeave : ${empMonthLeavesList}">
											<td th:text="${empMonthLeave.leaveType}"></td>
											<td th:text="${empMonthLeave.fromDate}"/></td>
											<td th:text="${empMonthLeave.toDate}"/></td>
											<td th:text="${empMonthLeave.dayLeave}"/></td>
											<td th:text="${empMonthLeave.leaveDetails}"></td>	
										</tr>
									</tbody>
								</table>
							</div>
						
					</div>
				</div>
			</div>
		</div>
	</div>
</body>
</html>