<!DOCTYPE html>
<html lang="en" xmlns:layout="http://www.ultraq.net.nz/thymeleaf/layout"
	xmlns:th="http://www.thymeleaf.org" layout:decorate="~{layout/layout}">
<body>
	<div layout:fragment="content">
		<div class="container-fluid">
			<!-- <div class="row">
			
			
			  <div class="col-sm-12">
				<h4 class="cards-title" th:text=#{global.applyLeave.title}>Apply Leave</h4>	
				</div>
				<div class="col-sm-12">
					<div class="line">
						<hr>
					</div>
				</div>
			</div> -->
			
			 <div class="row">
        <div class="col-12">
          <div class="page-title-box d-sm-flex align-items-center justify-content-between">
            <h4 class="mb-sm-0" th:text=#{global.applyLeave.title}>Apply Leave</h4>	
          </div>
        </div>
      </div>

			<form onsubmit="return leaveValidateForm()" th:action="@{applyLeave}" method="POST" th:object="${leaveMst}" autocomplete="off">
				<div class="row">
					<div class="col-lg-12">
						<div class="card">
							<div class="card-body">
								<div class="row">
									<div class="col-xl-6">
										<div class="form-group row">
											<label class="col-lg-3 col-form-label asterisk" th:text=#{global.applyLeave.empId}>Employee ID </label>
											<div class="col-lg-9">
												<input type="text" class="form-control" id="empId" name="empId" th:readonly="readonly" 
													th:each="leave : ${leaveList}" th:value="${leave.empId}">
													<span class="red" id="blankMsg"></span>
											</div>
										</div>

										<div class="form-group row">
											<label class="col-lg-3 col-form-label asterisk" th:text=#{global.applyLeave.fromDate}>From Date </label>
											<div class="col-lg-9">
												<input class="form-control" type="datetime-local" id="fromDate" th:field="*{fromDate}"> 
												<span class="red" id="blankMsg2"></span>
											</div>
										</div>

										<div class="form-group row">
											<label class="col-lg-3 col-form-label asterisk" th:text=#{global.applyLeave.leaveType}>Leave Type </label>
											<div class="col-lg-9">
												<select class="form-control" id="leaveType" th:field="*{leaveType}">
													<option value="" selected th:text=#{global.applyLeave.select}>Select..</option>
													<option value="Total Leave" th:text=#{global.applyLeave.totalLeave}>Total Leave</option>
													<option value="Paid Leave" th:text=#{global.applyLeave.paidLeave}
														th:each="leftLeave : ${noOfLeave}" th:disabled="${leftLeave.paidLeave} == 0">Paid Leave</option>
												<th:block th:each="empBasicDetails : ${leaveList}" th:if="${empBasicDetails.empPersonalDetails.maritalStatus} == 'Married'">
													<option value="Materity Leave" th:text=#{global.applyLeave.materityLeave} 
														th:each="leftLeave : ${noOfLeave}" th:disabled="${leftLeave.maternityLeave} == 0">Materity Leave</option>
												</th:block>														
												</select> 
												<span class="red" id="blankMsg3"></span>
											</div>
										</div>

										<div class="form-group row">
											<label class="col-lg-3 col-form-label asterisk" th:text=#{global.applyLeave.leaveDetails}>Leave Details</label>
											<div class="col-lg-9">
												<textarea class="form-control" rows="5" placeholder="Enter leave Details.." id="leaveDetails" th:field="*{leaveDetails}"></textarea>
												<span class="red" id="blankMsg4"></span>
											</div>
										</div>

										<div class="form-group row">
											<label class="col-lg-3 col-form-label asterisk" th:text=#{global.applyLeave.phoneNo}>Phone Number </label>
											<div class="col-lg-9">
												<input type="tel" class="form-control" placeholder="Enter phone number.." min="10" maxlength="10"  id="phoneNo" th:field="*{phoneNo}"> 
												<span class="red" id="blankMsg5"></span>
											</div>
										</div>

										<div class="form-group row">
											<label class="col-lg-3 col-form-label" th:text=#{global.applyLeave.comment}>Write a Comment</label>
											<div class="col-lg-9">
												<textarea class="form-control" rows="5" placeholder="Enter your comments.." th:field="*{comments}"></textarea>
											</div>
										</div>
									</div>

									<div class="col-xl-6">
										<div class="form-group row">
											<label class="col-lg-3 col-form-label asterisk" th:text=#{global.applyLeave.fullName}>Full Name</label>
											<div class="col-lg-9">
											<input class="form-control" id="fullName" name="fullName" th:readonly="readonly" 
													th:each="leave : ${leaveList}" th:value="${leave.fullName}">
											<span class="red" id="blankMsg6"></span>
											</div>
										</div>

										<div class="form-group row">
											<label class="col-lg-3 col-form-label asterisk" th:text=#{global.applyLeave.toDate}>To Date</label>
											<div class="col-lg-9">
												<input class="form-control" type="datetime-local" id="toDate" th:field="*{toDate}"> 
												<span class="red" id="blankMsg7"></span>
											</div>
										</div>

										<div class="form-group row">
											<label class="col-lg-3 col-form-label asterisk"
												th:text=#{global.applyLeave.projectCode}>Project Code </label>
											<div class="col-lg-9">
												<select class="form-control" id="projectCode" th:field="*{projectCode}">
													<option value="" selected th:text=#{global.applyLeave.select}>Select</option>
													<option th:each="project : ${projectDetails}" th:value ="${project.projectCode}" th:text="${project.projectCode}"></option>
												</select> 
												<span class="red" id="blankMsg8"></span>
											</div>
										</div>

										<div class="form-group row">
											<label class="col-lg-3 col-form-label asterisk" th:text=#{global.applyLeave.address}>Address During Leave</label>
											<div class="col-lg-9">
												<textarea class="form-control" rows="5" placeholder="Enter address during Leave.." id="addrDuringLeave" th:field="*{addrDuringLeave}"></textarea>
												<span class="red" id="blankMsg9"></span>
											</div>
										</div>

										<div class="form-group row">
											<label class="col-lg-3 col-form-label asterisk" th:text=#{global.applyLeave.managerId}>Manager Id</label>
											<div class="col-lg-9">
												<input type="text" class="form-control" id="managerId" name="managerId" th:readonly="readonly"
													th:each="leave : ${leaveList}" th:value="${leave.empWorkDetails.reportingManager}" > 
													<span class="red" id="blankMsg10"></span>
											</div>
										</div>
									</div>
								</div>
							</div>
						</div>
					</div>
				</div>
				
								<div class="footer">
<div class="pd-2">
	<div class="row">
		<div class="col-sm-6">
			<a th:href="@{/activeLeaveList}" class="btn btn-outline-secondary"> <em class="fa fa-chevron-left"></em></a>
		</div>
		<div class="col-sm-6">
		<button class="btn btn-primary2 float-right" th:text=#{global.applyLeave.submit}>Submit</button>
		</div>
	</div>
</div>
</div>
			</form>
		</div>
	</div>
</body>
</html>