<!DOCTYPE html>
<html lang="en" xmlns:layout="http://www.ultraq.net.nz/thymeleaf/layout"
	xmlns:th="http://www.thymeleaf.org" layout:decorate="~{layout/layout}">
<body>
	<div layout:fragment="content">
		<div class="container-fluid">
			<div class="row">
			
			       <div class="col-12">
                            <div class="page-title-box d-sm-flex align-items-center justify-content-between">
                                <h4 class="mb-sm-0" th:text="#{global.user.userMst}">User Management</h4>                                
                                 <div class="page-title-right">
                                  <label>Active</label>
                                  <div class="togglebutton">
                                    <a th:href="@{/activeUserList}">
                                  <button class="btn btn-secondary"></button></a>
                                   <a th:href="@{/inActiveUserList}">
                        	      <button class="btn btn-secondary active"></button></a>
                        	       </div>
                        	       <label>Inactive</label>                        	                             	       
                                </div>
                                <div class="page-title-right">
                                  <a th:href="@{/userForm}" class="btn add-btn pull-right plus" th:text="#{global.user.addNew}" >Add New</a>
                                </div>
                            </div>
                        </div>
			        <!-- <div class="col-lg-4">
					   <h4 class="cards-title"  th:text="#{global.user.userMst}">User Management</h4>
					</div>
					<div class="col-sm-4 text-center">				
                        <a th:href="@{/activeUserList}">
                            <button class="btn btn-secondary" th:text="#{global.user.activeUser}">Active</button></a>
                        <a th:href="@{/inActiveUserList}">
                        	 <button class="btn btn-secondary active" th:text="#{global.user.inactiveUser}">Inactive</button></a>
                   </div>
					<div class="col-lg-4">
						<a th:href="@{/userForm}" class="btn add-btn pull-right plus" th:text="#{global.user.addNew}" >Add New</a>
					</div>		
			
			
				<div class="col-sm-12">
					<div class="line">
						<hr>
					</div>
			    </div> -->
				
				
<form th:action="@{/inActiveUserList}" method="POST" th:object="${userMst}" autocomplete="off">
				<div class="col-sm-12 form-group">
					<div class="card">					
						
							<div class="table-responsive">
								<table id="datatable" class="display" style="width:100%">
									<thead>
										<tr>
											<th th:text="#{global.user.loginId}">LOGIN ID</th>
											<th th:text="#{global.user.userDisplayName}">USER DISPLAY NAME</th>
											<th th:text="#{global.user.baseBranch}">BASE BRANCH</th>
											<th th:text="#{global.user.region}">REGION</th>
											<th th:text="#{global.user.action}">ACTION</th>
										</tr>
									</thead>
									<tbody>
										<tr th:each="user : ${listUser}">
											<td th:text="${user.loginId}"></td>
											<td th:text="${user.userDisplayName}"></td>
											<td th:text="${user.baseBranch}"></td>
											<td th:text="${user.tenantId}"></td>
											<td>
												<a th:href="@{'/activeUser/' + ${user.loginId}}" class="btn update"><em class="fa-solid fa-check"></em> </a>
											</td>
										</tr>
									</tbody>
								</table>
							
						</div>
					</div>
				</div>
				</form>
			</div>
			</div>
		</div>
</body>
</html>