<!DOCTYPE html>
<html lang="en" xmlns:layout="http://www.ultraq.net.nz/thymeleaf/layout" xmlns:th="http://www.thymeleaf.org" layout:decorate="~{layout/layout}">
<body>
	<div layout:fragment="content">
		<div class="container-fluid">
			<div class="row">
			<!-- <div class="col-lg-4">
					<h4 class="cards-title" th:text="#{global.regEmpList.heading}"> Register Employee List</h4>
					</div>
					<div class=" col-sm-4 text-center">		
				
                        <a th:href="@{/activeEmpRegList}">
                            <button class="btn btn-secondary active" th:text="#{global.regEmpList.activeEmp}" style="margin-right:8px">Active</button></a>
                        <a th:href="@{/inActiveEmpRegList}">
                        	 <button class="btn btn-secondary" th:text="#{global.regEmpList.inActiveEmp}">Inactive</button></a>
                    </div>
					<div class="col-lg-4">
						<a th:href="@{/empRegistration}" class="btn add-btn pull-right plus" th:text="#{global.regEmpList.addNew}">Add New</a>
					</div>			
			
				<div class="col-sm-12">
					<div class="line">
						<hr>
					</div>
			   </div> -->
			   
			   <div class="col-12">
                            <div class="page-title-box d-sm-flex align-items-center justify-content-between">
                                <h4 class="mb-sm-0" th:text="#{global.regEmpList.heading}"> Register Employee List</h4>                          
                                 <div class="page-title-right">
                                  <label>Active</label>
                                  <div class="togglebutton">
                                  <a th:href="@{/activeEmpRegList}">                    
                                   <button class="btn btn-secondary active"></button></a>
                                 <a th:href="@{/inActiveEmpRegList}">
                        	       <button class="btn btn-secondary"></button></a>
                        	       </div>
                        	       <label>Inactive</label>                        	                             	       
                                </div>
                                <div class="page-title-right">
                                   <a th:href="@{/empRegistration}" class="btn add-btn plus" th:text="#{global.regEmpList.addNew}">Add New</a>
                                </div>
                            </div>
                        </div>
			   
				<div class="col-sm-12 form-group">
					<div class="card">
						
							<div class="table-responsive">
								<table id="datatable" class="display" style="width:100%">
									<thead>
										<tr>
											<th th:text="#{global.regEmpList.empId}">Employee Id</th>
											<th th:text="#{global.regEmpList.fullName}">Full Name</th>
											<th th:text="#{global.regEmpList.coEmailId}">Company Email Id</th>
											<th th:text="#{global.regEmpList.department}">Department</th>
											<th th:text="#{global.regEmpList.tenantId}">Tenant Id</th>
											<th th:text="#{global.regEmpList.qrCode}">QR Code</th>
											<th th:text="#{global.regEmpList.image}">Image</th>
											<th th:text="#{global.regEmpList.action}">Action</th>
										</tr>
									</thead>
									<tbody>
										<tr th:each="empList : ${empRegList}">
											<td th:text="${empList.empId}"></td>
											<td th:text="${empList.fullName}"></td>
											<td th:text="${empList.coEmailId}"></td>
											<td th:text="${empList.departName}"></td>
											<td th:text="${empList.tenantId}"></td>
											<td>
												<a th:href="@{'/downloadQRCode?empId=' + ${empList.empId}}">											
													<span th:if="${empList.qrCode} != null"><img th:src="@{${'/qrCodeImage?empId='+ empList.empId}}" width="50px" height="50px" alt=""></span>
													<span th:if="${empList.qrCode} == null"><img src="./images/defaultQRCode.png" th:src="@{/images/defaultQRCode.png}" width="50px" height="50px" alt=""></span>
												</a>
											</td>
											<td>
												<span th:if="${empList.file} != null"><img th:src="@{${'/image?empId='+ empList.empId}}" width="50px" height="50px" alt=""></span>
												<span th:if="${empList.file} == null"><img src="./images/profile/profile.png" th:src="@{/images/profile/profile.png}" width="50px" height="50px" alt=""></span>
											</td>										
										 	<td>
											 	<a th:href="@{'/empUpdate/' + ${empList.empId}}" class="btn update"><em class="fa-solid fa-pen-to-square"></em></a> 
					                            <a th:href="@{'/deactiveEmp/' + ${empList.empId}}" class="btn update"><em class="fa-solid fa-xmark"></em></a>
											</td>
										</tr>
									</tbody>
								</table>
							</div>
						</div>
					</div>
				</div>
			</div>
		</div>
</body>
</html>