<!DOCTYPE html>
<html lang="en" xmlns:layout="http://www.ultraq.net.nz/thymeleaf/layout" xmlns:th="http://www.thymeleaf.org" layout:decorate="~{layout/layout}">
<body>
	<div layout:fragment="content">
		<div class="container-fluid">
			<div class="row">
			       <!--  <div class="col-lg-4">
					<h4 class="cards-title" th:text="#{global.email.emailTemplate}"> Email Template</h4>
					</div>
					<div class=" col-sm-4 text-center">		
				
                        <a th:href="@{/activeEmailList}">
                            <button class="btn btn-secondary active" th:text="#{global.email.activeEmail}" style="margin-right:8px">Active</button></a>
                        <a th:href="@{/inActiveEmailList}">
                        	 <button class="btn btn-secondary" th:text="#{global.email.inactiveEmail}">Inactive</button></a>
                    </div>
					<div class="col-lg-4">
						<a th:href="@{/emailTemplate}" class="btn add-btn pull-right plus" th:text="#{global.email.addNew}" >Add New</a>
					</div>	
						
			
			
				<div class="col-sm-12">
					<div class="line">
						<hr>
					</div>
			</div> -->
			<div class="col-12">
                            <div class="page-title-box d-sm-flex align-items-center justify-content-between">
                                <h4 class="mb-sm-0" th:text="#{global.email.emailTemplate}"> Email Template</h4>                   
                                 <div class="page-title-right">
                                  <label>Active</label>
                                  <div class="togglebutton">
                                   <a th:href="@{/activeEmailList}">                  
                                   <button class="btn btn-secondary active"></button></a>
                                 <a th:href="@{/inActiveEmailList}">
                        	       <button class="btn btn-secondary"></button></a>
                        	       </div>
                        	       <label>Inactive</label>                        	                             	       
                                </div>
                                <div class="page-title-right">
                                  <a th:href="@{/emailTemplate}" class="btn add-btn plus" th:text="#{global.email.addNew}" >Add New</a>
                                </div>
                            </div>
                        </div>
				
				

				<div class="col-sm-12 form-group">
					<div class="card">
						
							<div class="table-responsive">
								<table id="datatable" class="display" style="width:100%">
									<thead>
										<tr>
											<th th:text="#{global.email.templateName}">TEMPLATE NAME</th>
											<th th:text="#{global.email.emaitTo}">EMAIL ID</th>
											<th th:text="#{global.email.tenantId}">TENANT ID</th>
											<th th:text="#{global.email.action}">ACTION</th>
										</tr>
									</thead>
									<tbody>
										<tr th:each="email : ${listEmail}">
											<td th:text="${email.templateName}"></td>
											<td th:text="${email.emailTo}"></td>
											<td th:text="${email.tenantId}"></td>

											<td><a th:href="@{'/emailUpdate/' + ${email.id}}" class="btn update"><em class="fa-solid fa-pen-to-square"></em></a> 
				                            <a th:href="@{'/deactiveEmail/' + ${email.id}}" class="btn update"><em class="fa-solid fa-xmark"></em></a>
											</td>
										</tr>
									</tbody>
								</table>
							</div>
						</div>
					</div>
				</div>
			</div>
		</div>
</body>
</html>