<!DOCTYPE html>
<html lang="en" xmlns:th="http://www.thymeleaf.org">

<head>
    <meta charset="utf-8">
    <meta http-equiv="X-UA-Compatible" content="IE=edge">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <title th:text="#{global.lbl.title}">KSV - SoftTech Digital Solution</title>
  
</head>
<body>
    <h4>KSV - SoftTech Digital Solution</h4>
   
    <div>
    <span th:each="userList : ${userList}">
    <p>Hello <span th:text="${userList.fullName}" ></span>,<br></p>
   
   <span th:text="${userList.description}"></span>
   
   <p> Thanks & Regards,<br>
	   Admin Team.<br>
	   KSV Soft-Tech
   </p>
    </span>
   
    
    </div>
    
</body>
</html> 