<!DOCTYPE html>
<html lang="en" xmlns:layout="http://www.ultraq.net.nz/thymeleaf/layout" xmlns:th="http://www.thymeleaf.org" layout:decorate="~{layout/layout}">
<body>
	<div layout:fragment="content">
		<div class="container-fluid">
		<div class="row">
        <div class="col-12">
          <div class="page-title-box d-sm-flex align-items-center justify-content-between">
            <h4 class="mb-sm-0" th:text="#{global.role.roleMst}"> Role Managment</h4>
          </div>
        </div>
      </div>
			<!-- <div class="col-sm-12">
				<h4 class="cards-title" th:text="#{global.role.roleMst}"> Role Managment </h4>	
			</div>	
			
			<div class="col-sm-12">
					<div class="line">
						<hr>
					</div>
			</div> -->
			
			<form th:action="@{/saveRole}" method="POST" th:object="${roleAttribute}" autocomplete="off">
				<div class="row">
					<div class="col-lg-12">
						<div class="card">
							<div class="card-body">
								<div class="row">
									<div class="col-xl-12">
									<input type="hidden" th:field="*{roleId}">
									    <div class="form-group row">
											<label class="col-lg-2 col-form-label asterisk" th:text="#{global.role.roleCode}">ROLE CODE</label>
											<div class="col-lg-4">
												<input type="text" class="form-control" name="fname" id="name-f" placeholder="Enter role code here.." th:field="*{roleCode}"> 
												<span class="red" th:if="${#fields.hasErrors('roleCode')}" th:errors="*{roleCode}"></span>
											</div>
											
											<label class="col-lg-2 col-form-label asterisk" th:text="#{global.role.roleName}">ROLE NAME</label>
											<div class="col-lg-4">
												<input type="text" class="form-control" name="fname" id="name-f" placeholder="Enter role name here.." th:field="*{roleName}"> 
												<span class="red" th:if="${#fields.hasErrors('roleName')}" th:errors="*{roleName}"></span>
											</div>
										</div>
										 <div class="form-group row">
											<label class="col-lg-2 col-form-label asterisk" th:text="#{global.role.level}">LEVEL</label>
											<div class="col-lg-4">
												<select class="form-control" th:field="*{level}">
												<option value="" selected th:text="#{global.role.select}">Select..</option>
													<option value="ZO" th:text="#{global.role.zonalOffice}">Zonal Office</option>
													<option value="HO" th:text="#{global.role.headOffice}">Head Office</option>
													<option value="BO" th:text="#{global.role.branchOffice}">Branch Office</option>
													<option value="RO" th:text="#{global.select.regionalOffice}">Regional Office</option>
												</select> 
												<span class="red" th:if="${#fields.hasErrors('level')}" th:errors="*{level}"></span>
											</div>
											
											<div class="col-lg-2">
												<input type="checkbox" name="fname" id="name-f" th:field="*{isHeadRoleYn}" value="Yes"> 
												<label class="form-label" th:text="#{global.role.isHeadRole}">IS HEAD ROLE</label>
											</div>
											
											
										</div>
									</div>
								</div>
							</div>
						</div>
					</div>
				</div>
				
								<div class="footer">
<div class="pd-2">
	<div class="row">
		<div class="col-sm-6">
			<a th:href="@{/activeRoleList}" class="btn btn-outline-secondary"> <em class="fa fa-chevron-left"></em>					
							</a>
		</div>
		<div class="col-sm-6">
			<button class="btn btn-primary2 float-right" th:text="#{global.user.save}">Save</button>
		</div>
	</div>
</div>
</div>
			</form>
		</div>
	</div>
</body>
</html>