<!DOCTYPE html>
<html lang="en" xmlns:layout="http://www.ultraq.net.nz/thymeleaf/layout" xmlns:th="http://www.thymeleaf.org" layout:decorate="~{layout/layout}">
<body>
	<div layout:fragment="content">
		<div class="container-fluid">
			<div class="row">	
			<div class="col-12">
          <div class="page-title-box d-sm-flex align-items-center justify-content-between">
            <h4 class="mb-sm-0" th:text="#{global.orgBranch.title}"> </h4>
          </div>
        </div>		
		</div>	
				
			<form onsubmit="return orgBranchValidate()" th:action="@{/saveBranchesInOrg}" method="POST" th:object="${bio}" autocomplete="off">
				<div class="row">
					<div class="col-lg-12">
						<div class="card">
							<div class="card-body">
								<div class="row">
								<input type="hidden" th:field="*{id}">
									<div class="col-xl-12">									
										<div class="form-group row">
											<label class="col-lg-2 col-form-label asterisk" th:text="#{global.orgBranch.branchId}"></label>
											<div class="col-lg-4">
												<input type="text" class="form-control" placeholder="Enter branch id here" id="branchId" th:field="*{branchId}"> 
												<span class="red" th:if="${#fields.hasErrors('branchId')}" th:errors="*{branchId}"></span>
												<span class="red" id="blankMsg"></span>
											</div>
											<label class="col-lg-2 col-form-label asterisk" th:text="#{global.orgBranch.branchName}"></label>
											<div class="col-lg-4">
												<input type="text" class="form-control" placeholder="Enter branch name here" id="branchName" th:field="*{branchName}"> 
												<span class="red" th:if="${#fields.hasErrors('branchName')}" th:errors="*{branchName}"></span>
												<span class="red" id="blankMsg1"></span>
											</div>
										</div>

										<div class="form-group row">
											<label class="col-lg-2 col-form-label asterisk" th:text="#{global.orgBranch.branchType}"></label>
											<div class="col-lg-4">
												<select class="form-control" id="branchType" th:field="*{branchType}">
													<option value="">Select</option>
													<option value="Bachelor Degrees"> Graduate </option>
													<option value="Master Degrees"> Post Graduate </option>
												</select> 
												<span class="red" th:if="${#fields.hasErrors('branchType')}" th:errors="*{branchType}"></span>
												<span class="red" id="blankMsg2"></span>
											</div>
										</div>										
																	
									</div>
								</div>
							</div>
						</div>
					</div>
				</div>
				
				<div class="footer">
				<div class="pd-2">
					<div class="row">
						<div class="col-sm-6">
							<a th:href="@{/activeOrgBranchList}" class="btn btn-outline-secondary"> <em class="fa-solid fa-arrow-left"></em></a>
						</div>
						<div class="col-sm-6">
							<button class="btn btn-primary2 float-right" th:text="#{global.message.save}"></button>
						</div>
					</div>
				</div>
			</div>
			</form>
		</div>
	</div>
</body>
</html>