<!DOCTYPE html>
<html lang="en" xmlns:layout="http://www.ultraq.net.nz/thymeleaf/layout" xmlns:th="http://www.thymeleaf.org"
	layout:decorate="~{layout/layout}">
<body>
	<div layout:fragment="content">
		<div class="container-fluid">
			<div class="row">
				<div class="col-12">
					<div class="page-title-box d-sm-flex align-items-center justify-content-between">
						<h4 class="mb-sm-0" th:text=#{global.pwdPolicy.pwdPolicy}>Password Policy</h4>
					</div>
				</div>
			</div>
			<form th:action="@{/savePasswordPolicy}" method="POST" th:object="${pwd}" autocomplete="off">
				<div class="row">
					<div class="col-lg-12">
						<div class="card">
							<div class="card-body">
								<div class="row">
									<div class="col-xl-12">
										<input type="hidden" name="id" th:each="pwd : ${passwordPolicy}"
											th:value="${pwd.id}">
										<div class="form-group row">
											<label class="col-lg-2 col-form-label"
												th:text="#{global.pwdPolicy.minPwdLength}">Minimum Password
												Length</label>
											<div class="col-lg-4">
												<input type="text" class="form-control" name="minimumPasswordLength" 
													th:each="pwd : ${passwordPolicy}"  th:value="${pwd.minimumPasswordLength}">
											</div>

											<label class="col-lg-2 col-form-label"
												th:text="#{global.pwdPolicy.maxPwdLength}">Maxmimum Password
												Length</label>
											<div class="col-lg-4">
												<input type="text" class="form-control" name="maximumPasswordLength"
													th:each="pwd : ${passwordPolicy}" th:value="${pwd.maximumPasswordLength}">
											</div>
										</div>

										<div class="form-group row">
											<label class="col-lg-2 col-form-label"
												th:text="#{global.pwdPolicy.minAlphabets}">Minimum Alphabets</label>
											<div class="col-lg-4">
												<input type="text" class="form-control" name="minimumAlphabetsLength"
													th:each="pwd : ${passwordPolicy}"
													th:value="${pwd.minimumAlphabetsLength}">
											</div>
											<label class="col-lg-2 col-form-label"
												th:text="#{global.pwdPolicy.sameConsCharNotAllowes}">Same Consecutive
												Char Not Allowed Count:</label>
											<div class="col-lg-4">
												<input type="text" class="form-control"
													name="sameConsCharNotAllowedCount" th:each="pwd : ${passwordPolicy}"
													th:value="${pwd.sameConsCharNotAllowedCount}">
											</div>
										</div>

										<div class="form-group row">
											<label class="col-lg-2 col-form-label"
												th:text="#{global.pwdPolicy.minDigits}">Minimum Digits:</label>
											<div class="col-lg-4">
												<input type="text" class="form-control" name="minimumDigits"
													th:each="pwd : ${passwordPolicy}" th:value="${pwd.minimumDigits}">
											</div>
											<label class="col-lg-2 col-form-label"
												th:text="#{global.pwdPolicy.minSpecialChar}">Minimum Special
												Character:</label>
											<div class="col-lg-4">
												<input type="text" class="form-control" name="minimumSpecialCharacter"
													th:each="pwd : ${passwordPolicy}"
													th:value="${pwd.minimumSpecialCharacter}">
											</div>
										</div>

										<div class="form-group row">
											<label class="col-lg-2 col-form-label"
												th:text="#{global.pwdPolicy.pwdValidityDays}">Password Validity
												Days:</label>
											<div class="col-lg-4">
												<input type="text" class="form-control" name="passwordValidateDays"
													th:each="pwd : ${passwordPolicy}"
													th:value="${pwd.passwordValidateDays}">
											</div>
											<label class="col-lg-2 col-form-label"
												th:text="#{global.pwdPolicy.lastPwdNotAllowedCount}">Last Password Not
												Allowed Count:</label>
											<div class="col-lg-4">
												<input type="text" class="form-control"
													name="lastPasswordNotAllowedCount" th:each="pwd : ${passwordPolicy}"
													th:value="${pwd.lastPasswordNotAllowedCount}">
											</div>
										</div>

										<div class="form-group row">
											<label class="col-lg-2 col-form-label"
												th:text="#{global.pwdPolicy.maxBadLongCount}">Max Bad Login
												Count:</label>
											<div class="col-lg-4">
												<input type="text" class="form-control" name="maximumBadLoginCount"
													th:each="pwd : ${passwordPolicy}"
													th:value="${pwd.maximumBadLoginCount}">
											</div>
											<label class="col-lg-2 col-form-label"
												th:text="#{global.pwdPolicy.userIdAllowed}">User Id Allowed:</label>
											<div class="col-lg-4">
												<select class="form-control" name="isUserIdAllowed" id="dropOperator"
													th:each="pwd : ${passwordPolicy}" th:value="${pwd.isUserIdAllowed}">
													<option selected disabled="disabled"
														th:text="${pwd.isUserIdAllowed}"></option>
													<option value="Yes" th:text="#{global.select.yes}">Yes</option>
													<option value="No" th:text="#{global.select.no}">No</option>
												</select>
											</div>
										</div>
									</div>
								</div>
							</div>
						</div>
					</div>
				</div>

				<div class="footer">
					<div class="pd-2">
						<div class="row">
							<div class="col-sm-6">
								<a th:href="@{/dashboard}" class="btn btn-outline-secondary"><em class="fa fa-chevron-left"></em></a>
							</div>
							<div class="col-sm-6">
								<button class="btn btn-primary2 float-right"
									th:text="#{global.pwdPolicy.update}">Update</button>
							</div>
						</div>
					</div>
				</div>
			</form>
		</div>
	</div>
</body>
</html>