<!DOCTYPE html>
<html lang="en" xmlns:layout="http://www.ultraq.net.nz/thymeleaf/layout" xmlns:th="http://www.thymeleaf.org" layout:decorate="~{layout/layout}">
<body>
<div layout:fragment="content">
 		<div class="container-fluid">
			<!-- <div class="row">
			<div class="col-sm-12">
				<h4 class="cards-title" th:text="#{global.kraUpdate.title}">Add Appraisal</h4>
				</div>
				
				<div class="col-sm-12 form-group">
					<div class="line">
						<hr>
					</div>
				</div> -->
				 <div class="row">
        <div class="col-12">
          <div class="page-title-box d-sm-flex align-items-center justify-content-between">
            <h4 class="mb-sm-0" th:text="#{global.kraUpdate.title}">Add Appraisal</h4>
          </div>
        </div>
      </div>
			
			<form th:action="@{/updateTagKra}" th:object="${empKRA}" method="POST" autocomplete="off">
				<div class="row">
					<div class="col-lg-12">
						<div class="card">
							<div class="card-body">
								<div class="row">										
									<div class="col-xl-12">
									<input type="hidden" th:field="*{id}" />
										<div class="form-group row">
											<label class="col-lg-2 col-form-label asterisk" th:text="#{global.kraUpdate.kraName}">KRA Name</label>
											<div class="col-lg-4">
												<select class="form-control" th:field="*{kraI}">
													<option value="" th:text="#{global.kraUpdate.select}">Select..</option>
													<option th:each="kra: ${empkraList}" th:value="${kra.kra}" th:text="${kra.kra}">
												</select> 
											</div>
											</div>
											
											<div class="form-group row">
											<label class="col-lg-2 col-form-label asterisk" th:text="#{global.kraUpdate.weightage}">Weightage</label>
											<div class="col-lg-4">
												<input type="text"  class="form-control" placeholder="Enter weightage here......" th:field="*{weightageI}">
											</div>																					
										</div>	
									</div>																							
								</div>
							</div>
						</div>
					</div>
				</div>
				
				<div class="footer">
                  <div class="pd-2">
	                <div class="row">
		              <div class="col-sm-6">
			              <a href="#" class="btn btn-outline-secondary"><em class="fa fa-chevron-left"></em> 
							</a>
			              
		               </div>
		              <div class="col-sm-6">
			         <button class="btn btn-primary2 float-right" th:text="#{global.kraUpdate.submit}">Submit</button>
		           </div>
	                </div>
                </div>
             </div>
			</form>
			
		</div> 
		</div>
</body>
</html>