<!DOCTYPE html>
<html lang="en" xmlns:layout="http://www.ultraq.net.nz/thymeleaf/layout" xmlns:th="http://www.thymeleaf.org" layout:decorate="~{layout/layout}">
<body>
<div layout:fragment="content">     
		<div class="container-fluid">
			<form onsubmit="return levelIIAppraisalValidateForm()" th:action="@{/saveRatingByReportingManager2}"  th:object="${empKRA}" method="POST" autocomplete="off" onclick="change()" id="level2Appraisal">
               <div class="row page-titles mx-0">
                    <div class="col-sm-12 p-md-0">
                        <div class="welcome-text" style="padding: 16px;">
                            <span class="h4" th:text="${month}"></span>&nbsp;
                            <span class="mb-0" style="color:#858c93;">- Submission End Date 18-sep-2022</span>
                        </div>
                    </div>
                </div>

                <div class="row page-titles mx-0" style="margin:1px; margin-bottom: 30px; border: 1px solid #4545452e;">
                    <div class=" col-sm-6 d-flex">
                        <span class="avatar avatar-md brround me-3" th:if="${kraList.empBasicDetails.file} == null">
                           <img class="avatar avatar-md brad mr-3" style="margin: 16px;" src="./images/profile/profile.png" th:src="@{/images/profile/profile.png}" alt="">
                        </span>
                        <span class="avatar avatar-md brround me-3" th:if="${kraList.empBasicDetails.file} != null">
                           <img class="avatar avatar-md brad mr-3" style="margin: 16px;" th:src="@{${'/image?empId='+ kraList.empBasicDetails.empId}}" alt="">
                        </span>	
                        <div class="me-3 mt-0 mt-sm-1 d-block" style="margin: 13px;">
                            <div class="name"><span style="color:#858c93; font-size: 13px" th:text="${kraList.empBasicDetails.empId}"></span> - <span style="color: #ed7c1f; font-weight: 600;" th:text="${kraList.empBasicDetails.fullName}"></span></div>
                            <div class="depart"><span style="color:#858c93; font-size: 13px" th:text="${kraList.empBasicDetails.departName}"></span> - <span style="color:#858c93; font-size: 13px" th:text="${kraList.empBasicDetails.empWorkDetails.designation}"></span></div>
                        </div>
                    </div>

                    <div class=" col-sm-3 d-flex" style=" position: -webkit-sticky; position: sticky;">
                        <div class="me-3 mt-0 mt-sm-1 d-block" style="margin: 13px;">
                            <div class="name" style="color:#858c93; font-size: 13px" th:text="#{global.ratingOfRM2.finalScore}">Final Score</div>
                            <input type="text" class="form-control" style="color: #121212; font-size: 13px" readonly="readonly" id="total2" name="totalLevelII" th:field="*{totalLevelII}" > 
                        </div>
                    </div>
                    
                    <div class=" col-sm-3 d-flex">
                        <div class="me-3 mt-0 mt-sm-1 d-block" style="margin: 13px;">
                            <div class="name" style="color:#858c93; font-size: 13px" th:text="#{global.ratingOfRM2.rating}">Rating</div>
                            <input type="text" class="form-control" style="color: #121212; font-size: 13px" readonly="readonly" id="levelIIRating" name="levelIIRating" th:field="*{levelIIRating}">
                        </div>
                    </div>
                </div>

                    <div class="card" style="margin:1px;border: 1px solid #4545452e; margin-bottom: 60px;">
                        <div class="card-body">
                            <div class="row">
                                <div class="col-lg-12">
                                    <div class="form-group row">
                                    <input type="hidden" name="empId" th:readonly="readonly" th:each="emp : ${userDetail}" th:value="${emp.empId}">
                                        <label class="col-lg-1 col-form-label asterisk" style="font-size:12px;" th:text="#{global.ratingOfRM2.kraId}">KRA ID</label>
                                        <div class="col-lg-2">
                                            <input type="text" class="form-control" id="kraId" th:readonly="readonly" th:value="*{kraId}">
                                        </div>
                                        <label class="col-lg-1 col-form-label asterisk" style="font-size:12px;" th:text="#{global.ratingOfRM2.empId}">Employee ID</label>
                                        <div class="col-lg-2">
                                            <input type="text" class="form-control" id="empId" name="empId" th:readonly="readonly" th:each="emp : ${userDetail}" th:value="${emp.empId}">
                                        </div>
                                        <label class="col-lg-1 col-form-label"  style="font-size:12px;" th:text="#{global.ratingOfRM2.depId}">Department ID</label>
                                        <div class="col-lg-2">
                                            <input type="text" class="form-control" id="depId" name="depId" th:readonly="readonly" th:each="emp : ${userDetail}" th:value="${emp.departName}">
                                        </div>
                                        <label class="col-lg-1 col-form-label" style="font-size:12px;" th:text="#{global.ratingOfRM2.grade}">Employee Grade</label>
                                        <div class="col-lg-2">
                                            <input type="text" class="form-control" id="grade" name="grade" th:readonly="readonly" th:each="emp : ${userDetail}"  th:value="${emp.grade}">
                                        </div>
                                    </div>
                                    <div class="form-group row" style="margin-bottom: 0px;">
                                        <label class="col-lg-1 col-form-label" style="font-size:12px;" th:text="#{global.ratingOfRM2.trainingReco}">Training Recommendation</label>
                                        <div class="col-lg-2">
                                            <input type="checkbox" style="margin:10px;" id="trainingReco"  th:field="*{trainingReco}"  value="Yes">
                                        </div>
                                        <label class="col-lg-1 col-form-label" style="font-size:12px;" th:text="#{global.ratingOfRM2.comments}">Comments</label>
                                        <div class="col-lg-8">
                                            <textarea class="form-control" rows="2" placeholder="Enter your Comments.."
                                            				id="trainingRecoComment"  th:field="*{trainingRecoComment}"></textarea>
                                        </div>
                                    </div>
                                </div>
                            </div>
                        </div>
                    </div>

                <div class="row" style="margin-bottom: 50px">
                    <div class=" col-sm-12">
                        <div class="card">
                            <div class="table-responsive">
                                <table class="table table-responsive-sm" style="width:100%;">
                                    <thead>
                                        <tr>
                                            <th style="width: 10%; padding:10px;" th:text="#{global.ratingOfRM2.kra}">KRA</th>
                                            <th style="width: 30%;"></th>
                                            <th style="width: 10%;">
                                                <div class="table-avatar">
                                                    <span class="nameid" style="font-size:11px;" th:text="#{global.ratingOfRM2.lvlIRating}">Level I Rating</span>
                                                </div>
                                            </th>
                                            <th style="width: 10%;">
                                                <div class="table-avatar">
                                                    <span class="nameid" style="font-size:11px;" th:text="#{global.ratingOfRM2.lvlIIRating}">Level II Rating</span>
                                                </div>
                                            </th>
                                            <th style="width: 10%;">
                                                <div class="table-avatar">
                                                    <span class="nameid" style="font-size:11px;" th:text="#{global.ratingOfRM2.lvlIIIRating}">Level III Rating</span>
                                                </div>
                                            </th>
                                        </tr>
                                    </thead>
                                    <tbody>                                        
                                        <tr class="border-bottom" th:if="${kraList.kraI != null}">
                                            <td class="text-end pe-6" style="padding:1.75rem; text-align: center;">
                                                <span class="per" th:text="${kraList.weightageI} + '%'"></span> <span class="weightage" th:text="#{global.ratingOfRM2.weightage}">Weightage</span>
                                            </td>
                                            <td class="d-flex ps-6" style="padding:2.75rem;">
                                                <div class="my-auto">
                                                    <span class="mb-1 font-weight-semibold fs-17" th:text="${kraList.kraI}">Developer</span>
                                                    <div class="clearfix"></div>
                                                    <small class="text-mutedd fs-14" th:text="${kraList.descriptionI}"></small>
                                                </div>
                                            </td>
                                            <td class="mb-1 font-weight-semibold fs-17" th:text="${kraList.selfRatingI}">4.00</td>
                                            <td class="mb-1 font-weight-semibold fs-17" th:text="${kraList.level1ApproverRatingI}">4.00</td>
                                            <td style="padding:1.75rem;"><input type="text" class="form-control" style="width:50px; font-size: 12px; height:30px; border: 1px solid #6c757d63;" 
                                                    th:field="*{level2ApproverRatingI}" id="level2ApproverRatingI">
                                            <span class="red" id="blankMsg"></span>
                                            </td>
                                        </tr>
                                        
                                        <tr class="border-bottom" th:if="${kraList.kraII != null}">
                                            <td class="text-end pe-6" style="padding:1.75rem; text-align: center;">
                                                <span class="per" th:text="${kraList.weightageII} + '%'"></span> <span class="weightage" th:text="#{global.ratingOfRM2.weightage}">Weightage</span>
                                            </td>
                                            <td class="d-flex ps-6" style="padding:2.75rem;">
                                                <div class="my-auto">
                                                    <span class="mb-1 font-weight-semibold fs-17" th:text="${kraList.kraII}">Developer</span>
                                                    <div class="clearfix"></div>
                                                    <small class="text-mutedd fs-14" th:text="${kraList.descriptionII}"></small>
                                                </div>
                                            </td>
                                            <td class="mb-1 font-weight-semibold fs-17" th:text="${kraList.selfRatingII}">4.00</td>
                                            <td class="mb-1 font-weight-semibold fs-17" th:text="${kraList.level1ApproverRatingII}">4.00</td>
                                            <td style="padding:1.75rem;"><input type="text" class="form-control" style="width:50px; font-size: 12px; height:30px; border: 1px solid #6c757d63;" 
                                                    th:field="*{level2ApproverRatingII}" id="level2ApproverRatingII">
                                            <span class="red" id="blankMsg2"></span>
                                            </td>
                                        </tr>
                                        
                                        <tr class="border-bottom" th:if="${kraList.kraIII != null}">
                                            <td class="text-end pe-6" style="padding:1.75rem; text-align: center;">
                                                <span class="per" th:text="${kraList.weightageIII} + '%'"></span> <span class="weightage" th:text="#{global.ratingOfRM2.weightage}">Weightage</span>
                                            </td>
                                            <td class="d-flex ps-6" style="padding:2.75rem;">
                                                <div class="my-auto">
                                                    <span class="mb-1 font-weight-semibold fs-17" th:text="${kraList.kraIII}">Developer</span>
                                                    <div class="clearfix"></div>
                                                    <small class="text-mutedd fs-14" th:text="${kraList.descriptionIII}"></small>
                                                </div>
                                            </td>
                                            <td class="mb-1 font-weight-semibold fs-17" th:text="${kraList.selfRatingIII}">4.00</td>
                                            <td class="mb-1 font-weight-semibold fs-17" th:text="${kraList.level1ApproverRatingIII}">4.00</td>
                                            <td style="padding:1.75rem;"><input type="text" class="form-control" style="width:50px; font-size: 12px; height:30px; border: 1px solid #6c757d63;" 
                                                    th:field="*{level2ApproverRatingIII}" id="level2ApproverRatingIII">
                                            <span class="red" id="blankMsg3"></span>
                                            </td>
                                        </tr>
                                        
                                        <tr class="border-bottom" th:if="${kraList.kraIV != null}">
                                            <td class="text-end pe-6" style="padding:1.75rem; text-align: center;">
                                                <span class="per" th:text="${kraList.weightageIV} + '%'"></span> <span class="weightage" th:text="#{global.ratingOfRM2.weightage}">Weightage</span>
                                            </td>
                                            <td class="d-flex ps-6" style="padding:2.75rem;">
                                                <div class="my-auto">
                                                    <span class="mb-1 font-weight-semibold fs-17" th:text="${kraList.kraIV}">Developer</span>
                                                    <div class="clearfix"></div>
                                                    <small class="text-mutedd fs-14" th:text="${kraList.descriptionIV}"></small>
                                                </div>
                                            </td>
                                            <td class="mb-1 font-weight-semibold fs-17" th:text="${kraList.selfRatingIV}">4.00</td>
                                            <td class="mb-1 font-weight-semibold fs-17" th:text="${kraList.level1ApproverRatingIV}">4.00</td>
                                            <td style="padding:1.75rem;"><input type="text" class="form-control" style="width:50px; font-size: 12px; height:30px; border: 1px solid #6c757d63;" 
                                                    th:field="*{level2ApproverRatingIV}" id="level2ApproverRatingIV">
                                            <span class="red" id="blankMsg4"></span>
                                            </td>
                                        </tr>
                                        
                                        <tr class="border-bottom" th:if="${kraList.kraV != null}">
                                            <td class="text-end pe-6" style="padding:1.75rem; text-align: center;">
                                                <span class="per" th:text="${kraList.weightageV} + '%'"></span> <span class="weightage" th:text="#{global.ratingOfRM2.weightage}">Weightage</span>
                                            </td>
                                            <td class="d-flex ps-6" style="padding:2.75rem;">
                                                <div class="my-auto">
                                                    <span class="mb-1 font-weight-semibold fs-17" th:text="${kraList.kraV}">Developer</span>
                                                    <div class="clearfix"></div>
                                                    <small class="text-mutedd fs-14" th:text="${kraList.descriptionV}"></small>
                                                </div>
                                            </td>
                                            <td class="mb-1 font-weight-semibold fs-17" th:text="${kraList.selfRatingV}">4.00</td>
                                            <td class="mb-1 font-weight-semibold fs-17" th:text="${kraList.level1ApproverRatingV}">4.00</td>
                                            <td style="padding:1.75rem;"><input type="text" class="form-control" style="width:50px; font-size: 12px; height:30px; border: 1px solid #6c757d63;" 
                                                    th:field="*{level2ApproverRatingV}" id="level2ApproverRatingV">
                                            <span class="red" id="blankMsg5"></span>
                                            </td>
                                        </tr>
                                        
                                        <tr class="border-bottom" th:if="${kraList.kraVI != null}">
                                            <td class="text-end pe-6" style="padding:1.75rem; text-align: center;">
                                                <span class="per" th:text="${kraList.weightageVI} + '%'"></span> <span class="weightage" th:text="#{global.ratingOfRM2.weightage}">Weightage</span>
                                            </td>
                                            <td class="d-flex ps-6" style="padding:2.75rem;">
                                                <div class="my-auto">
                                                    <span class="mb-1 font-weight-semibold fs-17" th:text="${kraList.kraVI}">Developer</span>
                                                    <div class="clearfix"></div>
                                                    <small class="text-mutedd fs-14" th:text="${kraList.descriptionVI}"></small>
                                                </div>
                                            </td>
                                            <td class="mb-1 font-weight-semibold fs-17" th:text="${kraList.selfRatingVI}">4.00</td>
                                            <td class="mb-1 font-weight-semibold fs-17" th:text="${kraList.level1ApproverRatingVI}">4.00<</td>
                                            <td style="padding:1.75rem;"><input type="text" class="form-control" style="width:50px; font-size: 12px; height:30px; border: 1px solid #6c757d63;" 
                                                    th:field="*{level2ApproverRatingVI}" id="level2ApproverRatingVI">
                                            <span class="red" id="blankMsg6"></span>
                                            </td>
                                        </tr>
                                        
                                      <tr class="border-bottom" th:if="${kraList.kraVII != null}">
                                            <td class="text-end pe-6" style="padding:1.75rem; text-align: center;">
                                                <span class="per" th:text="${kraList.weightageVII} + '%'"></span> <span class="weightage" th:text="#{global.ratingOfRM2.weightage}">Weightage</span>
                                            </td>
                                            <td class="d-flex ps-6" style="padding:2.75rem;">
                                                <div class="my-auto">
                                                    <span class="mb-1 font-weight-semibold fs-17" th:text="${kraList.kraVII}">Developer</span>
                                                    <div class="clearfix"></div>
                                                    <small class="text-mutedd fs-14" th:text="${kraList.descriptionVII}"></small>
                                                </div>
                                            </td>
                                            <td class="mb-1 font-weight-semibold fs-17" th:text="${kraList.selfRatingVII}">4.00</td>
                                            <td class="mb-1 font-weight-semibold fs-17" th:text="${kraList.level1ApproverRatingVII}">4.00</td>
                                            <td style="padding:1.75rem;"><input type="text" class="form-control" style="width:50px; font-size: 12px; height:30px; border: 1px solid #6c757d63;" 
                                                    th:field="*{level2ApproverRatingVII}" id="level2ApproverRatingVII">
                                            <span class="red" id="blankMsg7"></span>
                                            </td>
                                     </tr>
                                        
                                        <tr class="border-bottom" th:if="${kraList.kraVIII != null}">
                                            <td class="text-end pe-6" style="padding:1.75rem; text-align: center;">
                                                <span class="per" th:text="${kraList.weightageVIII} + '%'"></span> <span class="weightage" th:text="#{global.ratingOfRM2.weightage}">Weightage</span>
                                            </td>
                                            <td class="d-flex ps-6" style="padding:2.75rem;">
                                                <div class="my-auto">
                                                    <span class="mb-1 font-weight-semibold fs-17" th:text="${kraList.kraVIII}">Developer</span>
                                                    <div class="clearfix"></div>
                                                    <small class="text-mutedd fs-14" th:text="${kraList.descriptionVIII}"></small>
                                                </div>
                                            </td>
                                            <td class="mb-1 font-weight-semibold fs-17" th:text="${kraList.selfRatingVIII}">4.00</td>
                                            <td class="mb-1 font-weight-semibold fs-17" th:text="${kraList.level1ApproverRatingVIII}">4.00</td>
                                            <td style="padding:1.75rem;"><input type="text" class="form-control" style="width:50px; font-size: 12px; height:30px; border: 1px solid #6c757d63;" 
                                                    th:field="*{level2ApproverRatingVIII}" id="level2ApproverRatingVIII">
                                            <span class="red" id="blankMsg8"></span>
                                            </td>
                                        </tr>
                                        
                                        <tr class="border-bottom" th:if="${kraList.kraIX != null}">
                                            <td class="text-end pe-6" style="padding:1.75rem; text-align: center;">
                                                <span class="per" th:text="${kraList.weightageIX} + '%'"></span> <span class="weightage" th:text="#{global.ratingOfRM2.weightage}">Weightage</span>
                                            </td>
                                            <td class="d-flex ps-6" style="padding:2.75rem;">
                                                <div class="my-auto">
                                                    <span class="mb-1 font-weight-semibold fs-17" th:text="${kraList.kraIX}">Developer</span>
                                                    <div class="clearfix"></div>
                                                    <small class="text-mutedd fs-14" th:text="${kraList.descriptionIX}"></small>
                                                </div>
                                            </td>
                                            <td class="mb-1 font-weight-semibold fs-17" th:text="${kraList.selfRatingIX}">4.00</td>
                                            <td class="mb-1 font-weight-semibold fs-17" th:text="${kraList.level1ApproverRatingIX}">4.00</td>
                                            <td style="padding:1.75rem;"><input type="text" class="form-control" style="width:50px; font-size: 12px; height:30px; border: 1px solid #6c757d63;" 
                                                    th:field="*{level2ApproverRatingIX}" id="level2ApproverRatingIX">
                                            <span class="red" id="blankMsg9"></span>
                                            </td>
                                        </tr>
                                        
                                        <tr class="border-bottom" th:if="${kraList.kraX != null}">
                                            <td class="text-end pe-6" style="padding:1.75rem; text-align: center;">
                                                <span class="per" th:text="${kraList.weightageX} + '%'"></span> <span class="weightage" th:text="#{global.ratingOfRM2.weightage}">Weightage</span>
                                            </td>
                                            <td class="d-flex ps-6" style="padding:2.75rem;">
                                                <div class="my-auto">
                                                    <span class="mb-1 font-weight-semibold fs-17" th:text="${kraList.kraX}">Developer</span>
                                                    <div class="clearfix"></div>
                                                    <small class="text-mutedd fs-14" th:text="${kraList.descriptionX}"></small>
                                                </div>
                                            </td>
                                            <td class="mb-1 font-weight-semibold fs-17" th:text="${kraList.selfRatingX}">4.00</td>
                                            <td class="mb-1 font-weight-semibold fs-17" th:text="${kraList.level1ApproverRatingX}">4.00</td>
                                            <td style="padding:1.75rem;"><input type="text" class="form-control" style="width:50px; font-size: 12px; height:30px; border: 1px solid #6c757d63;" 
                                                    th:field="*{level2ApproverRatingX}" id="level2ApproverRatingX">
                                            <span class="red" id="blankMsg10"></span>
                                            </td>
                                        </tr>
                                        
                                        <tr>
                                            <td style="padding:1.75rem;"></td>
                                            <td class="text-end pe-6" style="padding:1.75rem;">
                                                <span class="mb-1 font-weight-semibold fs-17 float-right" th:text="#{global.ratingOfRM2.totalAvg}">Total Average</span>
                                            </td>
                                            <td class="mb-1 font-weight-semibold fs-17" th:text="*{totalSelf}">4.00</td>
                                            <td class="mb-1 font-weight-semibold fs-17" th:text="*{totalLevelI}">4.00</td>
                                            <td style="padding:1.75rem;"><input type="text" class="form-control" style="width:50px; font-size: 12px; height:30px; border: 1px solid #6c757d63;"
                                            							readonly="readonly" id="total" name="totalLevelII" th:field="*{totalLevelII}">
                                            </td>
                                        </tr>
                                    </tbody>
                                </table>
                            </div>
                        </div>
                      </div>
                   </div>		
											
			
				<div class="footer">
						<div class="pd-2">
							<div class="row">
								<div class="col-sm-8">
									<a th:href="@{/selfAppraisalList}" class="btn btn-outline-secondary btn-md"><em class="fa fa-chevron-left"></em></a>
								</div>
								<div class="col-sm-4">
								<button class="btn btn-primary2 btn-lg float-right" type="submit" name="action" value="save" th:text="#{global.ratingOfRM2.save}"> Save </button>
								<button class="btn btn-primary2 btn-lg float-right" type="submit" name="action" value="saveDraft" th:text="#{global.ratingOfRM2.saveDraft}"> Save Draft </button>

								</div>
							</div>
						</div>
					</div>
			</form>
		</div> 
	</div>
</body>
</html>