<!DOCTYPE html>
<html lang="en" xmlns:layout="http://www.ultraq.net.nz/thymeleaf/layout" xmlns:th="http://www.thymeleaf.org" layout:decorate="~{layout/layout}">
<body>
	<div layout:fragment="content">
		<div class="container-fluid">
                <div class="row">
                    <div class="col-lg-12">
                        <div class="card">
                            <div class="card-body">
                                <div class="profile-tab">
                                    <div class="d-flex" style="border: 1px solid #4545452e;" th:each="user : ${currentUser}">
                                        <span class="avatar avatar-md brround me-3" th:if="${user.file} == null">
                                            <img class="avatar avatar-md brad mr-3" style="margin: 16px;" src="./images/profile/profile.png" th:src="@{/images/profile/profile.png}" alt="">
                                        </span>
                                        <span class="avatar avatar-md brround me-3" th:if="${user.file} != null">
                                            <img class="avatar avatar-md brad mr-3" style="margin: 16px;" th:src="@{${'/image?empId='+ user.empId}}" alt="">
                                        </span>		
                                        <div class="me-3 mt-0 mt-sm-1 d-block" style="margin: 13px;">
                                            <div class="name"><span style="color:#858c93; font-size: 13px" th:text="${user.empId}"></span> - <span style="color: #ed7c1f; font-weight: 600;" th:text="${user.fullName}"></span></div>
                                            <div class="depart"><span style="color:#858c93; font-size: 13px" th:text="${user.departName}"></span> - <span style="color:#858c93; font-size: 13px" th:text="${user.empWorkDetails.designation}"></span></div>
                                        </div>
                                    </div>

                                    <div class="custom-tab-1" style="margin-top: 30px;">
                                        <ul class="nav nav-tabs" style="margin-bottom: 40px;">
                                            <li class="nav-item"><a href="#my-posts" data-toggle="tab"
                                                    class="nav-link active show" th:text="#{global.tagKraList.kra}">KRA</a>
                                            </li>
                                        </ul>
                                        <div class="tab-content">
                                            <div id="my-posts" class="tab-pane fade active show">
                                                <div class="table-responsive">
                                                    <table id="datatable_" class="table transaction-table mb-0 text-nowrap" style="width:100%;">
                                                        <thead>
                                                            <tr>
                                                                <th style="width: 80%;" th:text="#{global.tagKraList.kra}">KRA</th>
                                                                <th style="width: 20%;letter-spacing: normal;"> 
                                                                  <!-- <div class="col-lg-4" style="padding: 16px;"> -->
                                                                    <a class="btn add-btn pull-right" th:each="emp : ${empBasicDetailsList}" th:href="@{/updateTagKra/{empId}(empId=${emp.empId})}" th:text="#{global.tagKraList.updateKra}">Update KRA </a>
                                                                    <a class="btn add-btn pull-right" th:each="emp : ${empBasicDetailsList}" th:href="@{/tagKraHome/{empId}(empId=${emp.empId})}" th:text="#{global.tagKraList.title}"
                                                                    	style="margin-right: 10px;" >Tag KRA </a>
                                                                    
                                                                <!-- </div>  -->                                                              
                                                                </th>
                                                            </tr>
                                                        </thead>
                                                        <tbody  th:each="appraisal : ${empList}">
                                                            <tr class="border-bottom" th:if="${appraisal.kraI != null}">
                                                                <td class="ps-6 my-auto">
                                                                    <span
                                                                        class="mb-1 font-weight-semibold fs-17" th:text="${appraisal.kraI}"></span>
                                                                    <div class="clearfix"></div>
                                                                    <span class="text-mutedd fs-14" th:text="${appraisal.descriptionI}"></span>
                                                                </td>
                                                                <td class="text-end pe-6" style="width:20%;">
                                                                    <span class="per" th:text="${appraisal.weightageI}"></span> <span class="weightage" th:text="#{global.tagKraList.ofWeightage}">Weightage</span>
                                                                </td>
                                                            </tr>
                                                            
                                                            <tr class="border-bottom" th:if="${appraisal.kraII != null}">
                                                                <td class="ps-6 my-auto">
                                                                    <span
                                                                        class="mb-1 font-weight-semibold fs-17" th:text="${appraisal.kraII}"></span>
                                                                    <div class="clearfix"></div>
                                                                    <span class="text-mutedd fs-14" th:text="${appraisal.descriptionII}"></span>
                                                                </td>
                                                                <td class="text-end pe-6" style="width:20%;">
                                                                    <span class="per" th:text="${appraisal.weightageII}"></span> <span class="weightage" th:text="#{global.tagKraList.ofWeightage}">Weightage</span>
                                                                </td>
                                                            </tr>
                                                            
                                                            <tr class="border-bottom" th:if="${appraisal.kraIII != null}">
                                                                <td class="ps-6 my-auto">
                                                                    <span
                                                                        class="mb-1 font-weight-semibold fs-17" th:text="${appraisal.kraIII}"></span>
                                                                    <div class="clearfix"></div>
                                                                    <span class="text-mutedd fs-14" th:text="${appraisal.descriptionIII}"></span>
                                                                </td>
                                                                <td class="text-end pe-6" style="width:20%;">
                                                                    <span class="per" th:text="${appraisal.weightageIII}"></span> <span class="weightage" th:text="#{global.tagKraList.ofWeightage}">Weightage</span>
                                                                </td>
                                                            </tr>
                                                            
                                                            <tr class="border-bottom" th:if="${appraisal.kraIV != null}">
                                                                <td class="ps-6 my-auto">
                                                                    <span
                                                                        class="mb-1 font-weight-semibold fs-17" th:text="${appraisal.kraIV}"></span>
                                                                    <div class="clearfix"></div>
                                                                    <span class="text-mutedd fs-14" th:text="${appraisal.descriptionIV}"></span>
                                                                </td>
                                                                <td class="text-end pe-6" style="width:20%;">
                                                                    <span class="per" th:text="${appraisal.weightageIV}"></span> <span class="weightage" th:text="#{global.tagKraList.ofWeightage}">Weightage</span>
                                                                </td>
                                                            </tr>
                                                            
                                                            <tr class="border-bottom" th:if="${appraisal.kraV != null}">
                                                                <td class="ps-6 my-auto">
                                                                    <span
                                                                        class="mb-1 font-weight-semibold fs-17" th:text="${appraisal.kraV}"></span>
                                                                    <div class="clearfix"></div>
                                                                    <span class="text-mutedd fs-14" th:text="${appraisal.descriptionV}"></span>
                                                                </td>
                                                                <td class="text-end pe-6" style="width:20%;">
                                                                    <span class="per" th:text="${appraisal.weightageV}"></span> <span class="weightage" th:text="#{global.tagKraList.ofWeightage}">Weightage</span>
                                                                </td>
                                                            </tr>
                                                            
                                                            <tr class="border-bottom" th:if="${appraisal.kraVI != null}">
                                                                <td class="ps-6 my-auto">
                                                                    <span
                                                                        class="mb-1 font-weight-semibold fs-17" th:text="${appraisal.kraVI}"></span>
                                                                    <div class="clearfix"></div>
                                                                    <span class="text-mutedd fs-14" th:text="${appraisal.descriptionVI}"></span>
                                                                </td>
                                                                <td class="text-end pe-6" style="width:20%;">
                                                                    <span class="per" th:text="${appraisal.weightageVI}"></span> <span class="weightage" th:text="#{global.tagKraList.ofWeightage}">Weightage</span>
                                                                </td>
                                                            </tr>
                                                            
                                                            <tr class="border-bottom" th:if="${appraisal.kraVII != null}">
                                                                <td class="ps-6 my-auto">
                                                                    <span
                                                                        class="mb-1 font-weight-semibold fs-17" th:text="${appraisal.kraVII}"></span>
                                                                    <div class="clearfix"></div>
                                                                    <span class="text-mutedd fs-14" th:text="${appraisal.descriptionVII}"></span>
                                                                </td>
                                                                <td class="text-end pe-6" style="width:20%;">
                                                                    <span class="per" th:text="${appraisal.weightageVII}"></span> <span class="weightage" th:text="#{global.tagKraList.ofWeightage}">Weightage</span>
                                                                </td>
                                                            </tr>
                                                            
                                                            <tr class="border-bottom" th:if="${appraisal.kraVIII != null}">
                                                                <td class="ps-6 my-auto">
                                                                    <span
                                                                        class="mb-1 font-weight-semibold fs-17" th:text="${appraisal.kraVIII}"></span>
                                                                    <div class="clearfix"></div>
                                                                    <span class="text-mutedd fs-14" th:text="${appraisal.descriptionVIII}"></span>
                                                                </td>
                                                                <td class="text-end pe-6" style="width:20%;">
                                                                    <span class="per" th:text="${appraisal.weightageVIII}"></span> <span class="weightage" th:text="#{global.tagKraList.ofWeightage}">Weightage</span>
                                                                </td>
                                                            </tr>
                                                            
                                                            <tr class="border-bottom" th:if="${appraisal.kraIX != null}">
                                                                <td class="ps-6 my-auto">
                                                                    <span
                                                                        class="mb-1 font-weight-semibold fs-17" th:text="${appraisal.kraIX}"></span>
                                                                    <div class="clearfix"></div>
                                                                    <span class="text-mutedd fs-14" th:text="${appraisal.descriptionIX}"></span>
                                                                </td>
                                                                <td class="text-end pe-6" style="width:20%;">
                                                                    <span class="per" th:text="${appraisal.weightageIX}"></span> <span class="weightage" th:text="#{global.tagKraList.ofWeightage}">Weightage</span>
                                                                </td>
                                                            </tr>
                                                            
                                                            <tr class="border-bottom" th:if="${appraisal.kraX != null}">
                                                                <td class="ps-6 my-auto">
                                                                    <span
                                                                        class="mb-1 font-weight-semibold fs-17" th:text="${appraisal.kraX}"></span>
                                                                    <div class="clearfix"></div>
                                                                    <span class="text-mutedd fs-14" th:text="${appraisal.descriptionX}"></span>
                                                                </td>
                                                                <td class="text-end pe-6" style="width:20%;">
                                                                    <span class="per" th:text="${appraisal.weightageX}"></span> <span class="weightage" th:text="#{global.tagKraList.ofWeightage}">Weightage</span>
                                                                </td>
                                                            </tr>
                                                            
                                                        </tbody>
                                                    </table>
                                                </div>
                                            </div>


                                        </div>
                                    </div>
                                </div>
                            </div>
                        </div>
                    </div>
                </div>
            </div>
	
		<!-- <div class="container-fluid">
			<div class="row">
				<h4 class="cards-title col-lg-6" th:text="#{global.tagKraList.title}">TAG KRA</h4>

				<div class="col-lg-12" th:each="emp : ${empBasicDetailsList}">
					<a class="btn add-btn pull-right" th:href="@{/tagKraHome/{empId}(empId=${emp.empId})}" th:text="#{global.tagKraList.title}">Tag KRA</a>
				</div>
			</div>
			<div class="col-sm-12">
                    <div class="line">
                        <hr>
                    </div>
                </div>
				
			<form th:action="@{/empKRAUpdate}" method="POST" th:object="${empKRA}" autocomplete="off">
			<div class="row">
                    <div class="col-xl-12 col-md-12 col-lg-12">
                        <div class="tab-menu-heading hremp-tabs p-0">
                            <div class="tabs-menu1">
                                Tabs
                                <ul class="nav panel-tabs" style="margin-top:30px;">
                                    <li><a href="#tab5" class="active" data-toggle="tab" th:text="#{global.tagKraList.kra}">KRA</a>
                                    </li> </ul>
                            </div>
                        </div>                        
						<input type="hidden" th:field="*{empId}" /> 						
                        <div class="panel-body tabs-menu-body hremp-tabs1 p-0">
                            <div class="tab-content">
                                <div class="tab-pane active" id="tab5" th:each="appraisal : ${empList}">
								<div class="row">
									<div class="col-xl-4" th:if="${appraisal.kraI != null}">
										<div class="custom-card">
											<div class="card-body">
												<div class="row">
													<div class="col-xl-12 col-sm-12 col-md-12">
														<div class="dropdown pull-right dropleft">
                                                                <button class="btn-dot" type="button"
                                                                    id="dropdownMenuButton" data-toggle="dropdown"><i
                                                                        class="fa-solid fa-ellipsis-vertical"></i>
                                                                </button>
                                                                <div class="dropdown-menu"
                                                                    aria-labelledby="dropdownMenuButton">
                                                                    <a class="dropdown-item" th:href="@{'/updateTagKra/' +${appraisal.empId} + '/' + ${appraisal.kraI}}">Edit</a>
                                                                    <a class="dropdown-item" href="#">Delete</a>
                                                                </div>
                                                            </div>
													
															<h5 class="mb-1 text-dar" th:text="${appraisal.kraI}"> </h5>
															<p class="textcolor" th:text="${appraisal.descriptionI}"> </p>
														 <p class="textcolor"><span class="per"
															th:text="${appraisal.weightageI}">20</span> <span th:text="#{global.tagKraList.ofWeightage}">% of Weightage</span> 
															</p>
													</div>
												</div>
											</div>
										</div>
									</div>

									<div class="col-xl-4" th:if="${appraisal.kraII != null}">
										<div class="custom-card">
											<div class="card-body">
												<div class="row">
													<div class="col-xl-12 col-sm-12 col-md-12">
														<div class="dropdown pull-right dropleft">
                                                                <button class="btn-dot" type="button"
                                                                    id="dropdownMenuButton" data-toggle="dropdown"><i
                                                                        class="fa-solid fa-ellipsis-vertical"></i>
                                                                </button>
                                                                <div class="dropdown-menu"
                                                                    aria-labelledby="dropdownMenuButton">
                                                                    <a class="dropdown-item" th:href="@{'/updateTagKra/' +${appraisal.empId} + '/' + ${appraisal.kraII}}">Edit</a>
                                                                    <a class="dropdown-item" href="#">Delete</a>
                                                                </div>
                                                            </div>
                                                            
															<h5 class="mb-1 text-dar" th:text="${appraisal.kraII}"></h5>
															<p class="textcolor" th:text="${appraisal.descriptionII}"></p>
														<p class="textcolor"><span class="per"
															th:text="${appraisal.weightageII}">20</span>  <span th:text="#{global.tagKraList.ofWeightage}">% of Weightage</span>
															</p>
													</div>
												</div>
											</div>
										</div>
									</div>

									<div class="col-xl-4" th:if="${appraisal.kraIII != null}">
										<div class="custom-card">
											<div class="card-body">
												<div class="row">
													<div class="col-xl-12 col-sm-12 col-md-12">
														<div class="dropdown pull-right dropleft">
                                                                <button class="btn-dot" type="button"
                                                                    id="dropdownMenuButton" data-toggle="dropdown"><i
                                                                        class="fa-solid fa-ellipsis-vertical"></i>
                                                                </button>
                                                                <div class="dropdown-menu"
                                                                    aria-labelledby="dropdownMenuButton">
                                                                    <a class="dropdown-item" th:href="@{'/updateTagKra/' +${appraisal.empId} + '/' + ${appraisal.kraIII}}">Edit</a>
                                                                    <a class="dropdown-item" href="#">Delete</a>
                                                                </div>
                                                            </div>
                                                            
															<h5 class="mb-1 text-dar" th:text="${appraisal.kraIII}"></h5>
															<p class="textcolor"
																th:text="${appraisal.descriptionIII}"></p>
														<p class="textcolor"><span class="per"
															th:text="${appraisal.weightageIII}">20</span>  <span th:text="#{global.tagKraList.ofWeightage}">% of Weightage</span>
															</p>
													</div>
												</div>
											</div>
										</div>
									</div>

									<div class="col-xl-4" th:if="${appraisal.kraIV != null}">
										<div class="custom-card">
											<div class="card-body">
												<div class="row">
													<div class="col-xl-12 col-sm-12 col-md-12">
														<div class="dropdown pull-right dropleft">
                                                                <button class="btn-dot" type="button"
                                                                    id="dropdownMenuButton" data-toggle="dropdown"><i
                                                                        class="fa-solid fa-ellipsis-vertical"></i>
                                                                </button>
                                                                <div class="dropdown-menu"
                                                                    aria-labelledby="dropdownMenuButton">
                                                                    <a class="dropdown-item" th:href="@{'/updateTagKra/' +${appraisal.empId} + '/' + ${appraisal.kraIV}}">Edit</a>
                                                                    <a class="dropdown-item" href="#">Delete</a>
                                                                </div>
                                                            </div>
                                                            
															<h5 class="mb-1 text-dar" th:text="${appraisal.kraIV}"></h5>
															<p class="textcolor" th:text="${appraisal.descriptionIV}"></p>
														<p class="textcolor"><span class="per"
															th:text="${appraisal.weightageIV}">20</span>  <span th:text="#{global.tagKraList.ofWeightage}">% of Weightage</span> 
															</p>
													</div>
												</div>
											</div>
										</div>
									</div>

									<div class="col-xl-4" th:if="${appraisal.kraV != null}">
										<div class="custom-card">
											<div class="card-body">
												<div class="row">
													<div class="col-xl-12 col-sm-12 col-md-12">
														<div class="dropdown pull-right dropleft">
                                                                <button class="btn-dot" type="button"
                                                                    id="dropdownMenuButton" data-toggle="dropdown"><i
                                                                        class="fa-solid fa-ellipsis-vertical"></i>
                                                                </button>
                                                                <div class="dropdown-menu"
                                                                    aria-labelledby="dropdownMenuButton">
                                                                    <a class="dropdown-item" th:href="@{'/updateTagKra/' +${appraisal.empId} + '/' + ${appraisal.kraV}}">Edit</a>
                                                                    <a class="dropdown-item" href="#">Delete</a>
                                                                </div>
                                                            </div>
                                                            
															<h5 class="mb-1 text-dar" th:text="${appraisal.kraV}"></h5>
															<p class="textcolor" th:text="${appraisal.descriptionV}"></p>
														<p class="textcolor"><span class="per"
															th:text="${appraisal.weightageV}">20</span> <span th:text="#{global.tagKraList.ofWeightage}">% of Weightage</span> 
															</p>
													</div>
												</div>
											</div>
										</div>
									</div>

									<div class="col-xl-4" th:if="${appraisal.kraVI != null}">
										<div class="custom-card">
											<div class="card-body">
												<div class="row">
													<div class="col-xl-12 col-sm-12 col-md-12">
														<div class="dropdown pull-right dropleft">
                                                                <button class="btn-dot" type="button"
                                                                    id="dropdownMenuButton" data-toggle="dropdown"><i
                                                                        class="fa-solid fa-ellipsis-vertical"></i>
                                                                </button>
                                                                <div class="dropdown-menu"
                                                                    aria-labelledby="dropdownMenuButton">
                                                                    <a class="dropdown-item" th:href="@{'/updateTagKra/' +${appraisal.empId} + '/' + ${appraisal.kraVI}}">Edit</a>
                                                                    <a class="dropdown-item" href="#">Delete</a>
                                                                </div>
                                                            </div>
                                                            
															<h5 class="mb-1 text-dar" th:text="${appraisal.kraVI}"></h5>
															<p class="textcolor" th:text="${appraisal.descriptionVI}"></p>
														<p class="textcolor"><span class="per"
															th:text="${appraisal.weightageVI}">20</span> <span th:text="#{global.tagKraList.ofWeightage}">% of Weightage</span>
															</p>
													</div>
												</div>
											</div>
										</div>
									</div>

									<div class="col-xl-4" th:if="${appraisal.kraVII != null}">
										<div class="custom-card">
											<div class="card-body">
												<div class="row">
													<div class="col-xl-12 col-sm-12 col-md-12">
														<div class="dropdown pull-right dropleft">
                                                                <button class="btn-dot" type="button"
                                                                    id="dropdownMenuButton" data-toggle="dropdown"><i
                                                                        class="fa-solid fa-ellipsis-vertical"></i>
                                                                </button>
                                                                <div class="dropdown-menu"
                                                                    aria-labelledby="dropdownMenuButton">
                                                                    <a class="dropdown-item" th:href="@{'/updateTagKra/' +${appraisal.empId} + '/' + ${appraisal.kraVII}}">Edit</a>
                                                                    <a class="dropdown-item" href="#">Delete</a>
                                                                </div>
                                                            </div>
                                                            
															<h5 class="mb-1 text-dar" th:text="${appraisal.kraVII}"></h5>
															<p class="textcolor"
																th:text="${appraisal.descriptionVII}"></p>
														<p class="textcolor"><span class="per"
															th:text="${appraisal.weightageVII}">20</span> <span th:text="#{global.tagKraList.ofWeightage}">% of Weightage</span>
															</p>
													</div>
												</div>
											</div>
										</div>
									</div>

									<div class="col-xl-4" th:if="${appraisal.kraVIII != null}">
										<div class="custom-card">
											<div class="card-body">
												<div class="row">
													<div class="col-xl-12 col-sm-12 col-md-12">
														<div class="dropdown pull-right dropleft">
                                                                <button class="btn-dot" type="button"
                                                                    id="dropdownMenuButton" data-toggle="dropdown"><i
                                                                        class="fa-solid fa-ellipsis-vertical"></i>
                                                                </button>
                                                                <div class="dropdown-menu"
                                                                    aria-labelledby="dropdownMenuButton">
                                                                    <a class="dropdown-item" th:href="@{'/updateTagKra/' +${appraisal.empId} + '/' + ${appraisal.kraVIII}}">Edit</a>
                                                                    <a class="dropdown-item" href="#">Delete</a>
                                                                </div>
                                                            </div>
                                                            
															<h5 class="mb-1 text-dar" th:text="${appraisal.kraVIII}"></h5>
															<p class="textcolor"
																th:text="${appraisal.descriptionVIII}"></p>
														<p class="textcolor"><span class="per"
															th:text="${appraisal.weightageVIII}">20</span> <span th:text="#{global.tagKraList.ofWeightage}">% of Weightage</span>
															</p>
													</div>
												</div>
											</div>
										</div>
									</div>

									<div class="col-xl-4" th:if="${appraisal.kraIX != null}">
										<div class="custom-card">
											<div class="card-body">
												<div class="row">
													<div class="col-xl-12 col-sm-12 col-md-12">
														<div class="dropdown pull-right dropleft">
                                                                <button class="btn-dot" type="button"
                                                                    id="dropdownMenuButton" data-toggle="dropdown"><i
                                                                        class="fa-solid fa-ellipsis-vertical"></i>
                                                                </button>
                                                                <div class="dropdown-menu"
                                                                    aria-labelledby="dropdownMenuButton">
                                                                    <a class="dropdown-item" th:href="@{'/updateTagKra/' +${appraisal.empId} + '/' + ${appraisal.kraIX}}">Edit</a>
                                                                    <a class="dropdown-item" href="#">Delete</a>
                                                                </div>
                                                            </div>
                                                            
															<h5 class="mb-1 text-dar" th:text="${appraisal.kraIX}"></h5>
															<p class="textcolor" th:text="${appraisal.descriptionIX}"></p>
														<p class="textcolor"><span class="per"
															th:text="${appraisal.weightageIX}">20</span> <span th:text="#{global.tagKraList.ofWeightage}">% of Weightage</span>
															</p>
													</div>
												</div>
											</div>
										</div>
									</div>

									<div class="col-xl-4" th:if="${appraisal.kraX != null}">
										<div class="custom-card">
											<div class="card-body">
												<div class="row">
													<div class="col-xl-12 col-sm-12 col-md-12">
														<div class="dropdown pull-right dropleft">
                                                                <button class="btn-dot" type="button"
                                                                    id="dropdownMenuButton" data-toggle="dropdown"><i
                                                                        class="fa-solid fa-ellipsis-vertical"></i>
                                                                </button>
                                                                <div class="dropdown-menu"
                                                                    aria-labelledby="dropdownMenuButton">
                                                                    <a class="dropdown-item" th:href="@{'/updateTagKra/' +${appraisal.empId} + '/' + ${appraisal.kraX}}">Edit</a>
                                                                    <a class="dropdown-item" href="#">Delete</a>
                                                                </div>
                                                            </div>
                                                            
															<h5 class="mb-1 text-dar" th:text="${appraisal.kraX}"></h5>
															<p class="textcolor" th:text="${appraisal.descriptionX}"></p>
														<p class="textcolor"><span class="per"
															th:text="${appraisal.weightageX}">20</span> <span th:text="#{global.tagKraList.ofWeightage}">% of Weightage</span>
															</p>
													</div>
												</div>
											</div>
										</div>
									</div>
								</div>
							</div>
                            </div>
                        </div>
                    </div>
                </div>
			</form>			
		</div> -->
	</div>
</body>
</html>